<div class="{{ field.colClass|default('w-full') }} text-sm leading-6">
    <a href="{{ field.link }}" class="font-semibold text-orange-500 hover:text-orange-400">
        {{ field.label }}
    </a>
</div>