{% extends "html/_includes/layout" %}
{% set header = "closable" %}
{% block seo %}
<title>Additional Info</title>
{% endblock %}

{% block content %}

<section class="overflow-hidden relative">
    <div class="container">
        <div class="grid grid-cols-1">
            <div>
                <div class="pb-12 pt-[174px] lg:py-36 lg:pb-20 overflow-auto space-y-8 max-w-2xl lg:max-w-3xl mx-auto">
                    <div class="lg:px-10 relative">
                        <p class="uppercase font-bold tracking-widest">Lorem Ipsum</p>
                        <h1 class="text-4xl/tight lg:text-5xl/tight font-Baskervville -tracking-wide mt-3.5">Additional Information Header</h1>
                        <div class="mt-7 lg:mt-16 space-y-8">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        </div>
                    </div>
                    <div class="relative">
                        <img src="/assets/images/slider-detail.png" class="object-cover w-full h-full" alt="">
                        <div>
                            <a href="https://www.youtube.com/embed/UBOj6rqRUME" id="UBOj6rqRUME" class="glightbox h-[88px] left-1/2 text-white hover:text-blue-500 hover:border-blue-500 transition-all duration-300 -translate-x-1/2 text-center w-[88px] flex items-center justify-center mx-auto rounded-full border-2 border-white z-10 absolute top-1/2 -translate-y-1/2">
                                <svg width="29" height="32" viewBox="0 0 29 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M28.0547 16.2278L0.749604 31.9924L0.749605 0.463205L28.0547 16.2278Z" fill="white" />
                                </svg>
                            </a>
                        </div>
                    </div>
                    <div class="lg:px-10 relative">
                        <div class="space-y-8">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}