{% extends "html/_includes/layout" %}

{% block seo %}
<title>Page Link</title>
{% endblock %}

{% block content %}
<section class="mt-[79px] lg:min-h-[900px] lg:flex relative">
    <div class="bg-gray-50 lg:absolute lg:inset-y-0 lg:right-0 lg:w-1/2">
        <img class="object-cover max-h-96 lg:max-h-none lg:!h-full w-full" src="/assets/images/home-bg.png" alt="">
    </div>
    <div class="container flex items-center lg:min-h-[900px] relative">
        <div class="relative z-10 lg:w-full lg:max-w-[490px] xl:max-w-[550px]">
            <div class="relative md:py-32 pt-12 pb-24">
                <p class="uppercase tracking-widest text-lg md:text-xl font-bold text-blue-500">Lorem Ipsum</p>
                <h1 class="text-4xl/tight lg:text-5xl/tight font-Baskervville -tracking-wide mt-6">Quick lorem ipsum about problem but also offering hope. IJM has a proven solution to make lasting change possible.</h1>
            </div>
        </div>
        <div class="absolute bottom-2 lg:bottom-11 left-4">
            <a href="#" class="hover:text-blue-500 transition-all duration-300">
                <svg width="53" height="54" viewBox="0 0 53 54" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M25.8775 51.591L1.47266 26.0464M25.8775 51.591L25.8775 -2.91024e-07M25.8775 51.591L51 26.0464" stroke="currentColor" stroke-width="3" />
                </svg>
            </a>
        </div>
    </div>
</section>

<section class="mt-[175px] lg:mt-[108px] mb-52 space-y-24">
    <div class="container">
        <div class="grid grid-cols-1">
            <div>
                <div class="text-center max-w-2xl mx-auto relative z-10">
                    <p class="uppercase tracking-widest font-bold text-blue-500">Overview</p>
                    <h2 class="text-3xl lg:text-4xl font-Baskervville -tracking-wide mt-5">Lorem ipsum dolor sit amet consectetur adipiscing elit sed dong elit se eiusmod tempor incididunt.</h2>
                    <p class="text-lg mt-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboria commodo consequat.&nbsp;Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.&nbsp;</p>
                </div>
                <div class="relative -mt-14 lg:-mt-28">
                    <img src="/assets/images/bg-images.png" class="mx-auto w-full h-full" alt="">
                    <div class="bg-gradient-to-r from-white to-transparent absolute h-full left-0 top-0 w-1/5"></div>
                    <div class="bg-gradient-to-l from-white to-transparent absolute h-full right-0 top-0 w-1/5"></div>
                </div>
                <div class="relative -mt-14 lg:-mt-28 z-10">
                    <div class="flex items-center md:flex-row-reverse flex-col-reverse justify-between gap-8">
                        <div class="lg:max-w-[554px] flex-1 w-full">
                            <div class="aspect-h-9 aspect-w-14">
                                <img src="/assets/images/images-1.png" class="object-cover w-full h-full" alt="img">
                            </div>
                        </div>
                        <div class="lg:max-w-[471px] flex-1 w-full">
                            <p class="text-blue-500 uppercase font-bold">The Problem</p>
                            <h2 class="text-3xl lg:text-4xl font-Baskervville mt-4">Lorem ipsum dolor sit amet consectetur adipiscing elit sed dong elit se eiusmod tempor incididunt.</h2>
                            <p class="mt-6 lg:mt-10">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboria commodo consequat.&nbsp;Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="bg-blue-500/[7%]">
    <div class="container">
        <div class="grid grid-cols-1">
            <div>
                <div class="mb-16 lg:mb-24 -mt-32">
                    <div class="bg-blue-800 p-9 md:p-10 lg:p-12 lg:px-16 text-white">
                        <div class="flex lg:flex-row flex-col items-center gap-5">
                            <div class="flex-1 w-full">
                                <p class="uppercase tracking-widest font-bold text-blue-500">Fundraising Lorem Ipsum</p>
                                <h3 class="text-2xl lg:text-3xl font-Baskervville mt-3">Lorem ipsum fundraising dolor sit amet consectetur adipiscing elit ut labore et dolore magna aliqua</h3>
                            </div>
                            <div class="flex-1 w-full">
                                <p class="text-lg">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboria commodo onsequat. Lorem ipsum dolor sit amet, cons.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="my-16 lg:my-24">
                    <div class="text-center max-w-2xl mx-auto relative z-10">
                        <p class="uppercase tracking-widest font-bold text-blue-500">Overview</p>
                        <h2 class="text-3xl lg:text-4xl font-Baskervville -tracking-wide mt-5">Lorem ipsum dolor sit amet consectetur adipiscing elit sed dong elit se eiusmod tempor incididunt.</h2>
                        <p class="text-lg mt-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboria commodo consequat.&nbsp;Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.&nbsp;</p>
                        <div class="bg-white border-2 border-blue-500 p-6 lg:p-12 text-center mt-12">
                            <div>
                                <h5 class="text-xl font-Baskervville -tracking-tight">Our model has proven to reduce slavery and violence by 50-85% in 4-8 years, increasing protection for more than 10 million people living in poverty.</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex items-stretch lg:flex-row flex-col-reverse my-16 lg:my-24 bg-white">
                    <div class="flex-1 w-full flex items-center">
                        <div class="grid grid-cols-1 py-11 lg:py-16 px-10 lg:px-24">
                            <div class="relative">
                                <div class="swiper productslider swiper-fade swiper-initialized swiper-horizontal swiper-watch-progress swiper-backface-hidden">
                                    <div class="swiper-wrapper pb-10">
                                        <div class="swiper-slide swiper-slide-visible swiper-slide-active" style="width: 466px; opacity: 1; transform: translate3d(0px, 0px, 0px);">
                                            <div class="top-0 absolute left-0 z-20 w-full h-1 bg-primary-500 flex items-center justify-start font-bold -scale-x-100">
                                                <span class="h-full bg-white progressBar"></span>
                                            </div>
                                            <div class="relative bg-white">
                                                <p class="uppercase tracking-widest text-lg md:text-xl font-bold text-blue-500">Meet the Team</p>
                                                <h2 class="text-3xl lg:text-4xl font-Baskervville mt-4">Merlin Freeda</h2>
                                                <p class="lg:text-lg mt-4">would look at local news anchors on television and dream of becoming one. Yet even when she achieved success as one of the top newsreaders in India, she knew she found happiness but still lacked joy and satisfaction. In her quest to find peace, she found the Lord. This was the turning point in her life.</p>
                                            </div>
                                        </div>
                                        <div class="swiper-slide swiper-slide-next" style="width: 466px; opacity: 0; transform: translate3d(-466px, 0px, 0px);">
                                            <div class="top-0 absolute left-0 z-20 w-full h-1 bg-primary-500 flex items-center justify-start font-bold -scale-x-100">
                                                <span class="h-full bg-white progressBar"></span>
                                            </div>
                                            <div class="relative bg-white">
                                                <p class="uppercase tracking-widest text-lg md:text-xl font-bold text-blue-500">Meet the Team</p>
                                                <h2 class="text-3xl lg:text-4xl font-Baskervville mt-4">Merlin Freeda</h2>
                                                <p class="lg:text-lg mt-4">While many kids would dream of becoming a movie star or an astronaut, Merlin would look at local news anchors on television and dream of becoming one. Yet even when she achieved success as one of the top newsreaders in India, she knew she found happiness but still lacked joy and satisfaction. In her quest to find peace, she found the Lord. This was the turning point in her life.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="flex items-center gap-5 w-full">
                                        <div class="swiper-pagination-testi font-Baskervville text-4xl -tracking-widest swiper-pagination-fraction swiper-pagination-horizontal"><span class="swiper-pagination-current">1</span> / <span class="swiper-pagination-total">2</span></div>
                                        <div class="flex items-center w-full justify-end gap-6">
                                            <!-- If we need navigation buttons -->
                                            <div class="swiper-button-prev-product-main swiper-button-disabled">
                                                <div class="hover:text-blue-800 text-blue-800/30 transition-all duration-300 cursor-pointer">
                                                    <svg width="45" height="43" viewBox="0 0 45 43" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M2 21.2029L23.2909 0.999998M2 21.2029L45 21.2029M2 21.2029L23.2909 42" stroke="currentColor" stroke-width="2"></path>
                                                    </svg>
                                                </div>
                                            </div>
                                            <div class="swiper-button-next-product-main">
                                                <div class="hover:text-blue-800 text-blue-800/30 transition-all duration-300 cursor-pointer">
                                                    <svg width="45" height="43" viewBox="0 0 45 43" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M43 21.7971L21.7091 42M43 21.7971L3.53239e-06 21.7971M43 21.7971L21.7091 0.999998" stroke="currentColor" stroke-width="2"></path>
                                                    </svg>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="w-full flex-1 lg:max-w-[456px] ">
                        <div class="grid grid-cols-1 h-full">
                            <div class="relative h-full lg:h-full lg:max-h-full max-h-[350px] md:max-h-[420px]">
                                <div class="swiper thumbslider h-full swiper-initialized swiper-horizontal swiper-backface-hidden swiper-thumbs">
                                    <div class="swiper-wrapper flex !items-stretch !h-full" style="transform: translate3d(0px, 0px, 0px);">
                                        <div class="swiper-slide h-full swiper-slide-visible swiper-slide-active swiper-slide-thumb-active" style="width: 456px; margin-right: 2px;">
                                            <div class="h-full relative">
                                                <img src="/assets/images/testi.png" class="w-full h-full object-cover" alt="">
                                                <div>
                                                    <a href="https://www.youtube.com/embed/UBOj6rqRUME" id="UBOj6rqRUME" class="glightbox h-[88px] left-1/2 text-white hover:text-blue-500 hover:border-blue-500 transition-all duration-300 -translate-x-1/2 text-center w-[88px] flex items-center justify-center mx-auto rounded-full border-2 border-white z-10 absolute top-1/2 -translate-y-1/2">
                                                        <svg width="29" height="32" viewBox="0 0 29 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M28.0547 16.2278L0.749604 31.9924L0.749605 0.463205L28.0547 16.2278Z" fill="currentColor"></path>
                                                        </svg>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide h-full swiper-slide-next" style="width: 456px; margin-right: 2px;">
                                            <div class="h-full relative">
                                                <img src="/assets/images/mockup-1.png" class="w-full h-full object-cover" alt="">
                                                <div>
                                                    <a href="https://www.youtube.com/embed/UBOj6rqRUME" id="UBOj6rqRUME" class="glightbox h-[88px] left-1/2 text-white hover:text-blue-500 hover:border-blue-500 transition-all duration-300 -translate-x-1/2 text-center w-[88px] flex items-center justify-center mx-auto rounded-full border-2 border-white z-10 absolute top-1/2 -translate-y-1/2">
                                                        <svg width="29" height="32" viewBox="0 0 29 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M28.0547 16.2278L0.749604 31.9924L0.749605 0.463205L28.0547 16.2278Z" fill="currentColor"></path>
                                                        </svg>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="my-16 lg:my-24">
                    <div class="text-center max-w-2xl mx-auto relative z-10">
                        <p class="uppercase tracking-widest font-bold text-blue-500">Lorem Ipsum</p>
                        <h2 class="text-3xl lg:text-4xl font-Baskervville -tracking-wide mt-5">Our plan to protect 500 million people within a decade</h2>
                        <p class="text-lg mt-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboria commodo consequat.</p>
                        <div class="mt-9 md:mt-12">
                            <h3 class="text-2xl lg:text-3xl font-Baskervville -tracking-wide">Change occurs through our three-step methodology</h3>
                        </div>
                    </div>
                    <div class="grid grid-cols-1 md:grid-cols-3 mt-9 md:mt-12 gap-7 lg:gap-10">
                        <div>
                            <p class="font-bold">1. Collaborative Casework</p>
                            <p class="mt-2.5 pl-3.5">We accompany hundreds of victims as their cases pass through the justice system pipeline. At the same time, we work directly with the authorities in the pipeline to secure justice in these cases. Together we learn the real-life experience of survivors through each part of the pipeline, we gain a real-word diagnosis of where the pipeline is weakest, and we gain the trust of the authorities working in the justice pipeline.</p>
                        </div>
                        <div>
                            <p class="font-bold">1. Collaborative Casework</p>
                            <p class="mt-2.5 pl-3.5">We accompany hundreds of victims as their cases pass through the justice system pipeline. At the same time, we work directly with the authorities in the pipeline to secure justice in these cases. Together we learn the real-life experience of survivors through each part of the pipeline, we gain a real-word diagnosis of where the pipeline is weakest, and we gain the trust of the authorities working in the justice pipeline.</p>
                        </div>
                        <div>
                            <p class="font-bold">1. Collaborative Casework</p>
                            <p class="mt-2.5 pl-3.5">We accompany hundreds of victims as their cases pass through the justice system pipeline. At the same time, we work directly with the authorities in the pipeline to secure justice in these cases. Together we learn the real-life experience of survivors through each part of the pipeline, we gain a real-word diagnosis of where the pipeline is weakest, and we gain the trust of the authorities working in the justice pipeline.</p>
                        </div>
                    </div>
                </div>
                <div class="my-16 lg:my-24">
                    <div class="flex items-center md:flex-row-reverse flex-col justify-between gap-8">
                        <div class="lg:max-w-[554px] flex-1 w-full">
                            <div>
                                <img src="/assets/images/img-3.png" class="object-cover w-full h-full" alt="img">
                            </div>
                        </div>
                        <div class="lg:max-w-[471px] flex-1 w-full">
                            <p class="uppercase tracking-widest text-lg md:text-xl font-bold text-blue-500">Model Contextualization</p>
                            <h2 class="text-3xl lg:text-4xl font-Baskervville mt-4">Our Global Protection Model</h2>
                            <p class="mt-6 lg:mt-10">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboria commodo consequat.&nbsp;Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="mt-28 lg:mt-52">
    <div class="container relative z-10">
        <div class="grid grid-cols-1">
            <div>
                <div class="max-w-4xl mx-auto text-center">
                    <p class="uppercase tracking-widest text-lg md:text-xl font-bold text-blue-500">Model Contextualization</p>
                    <h2 class="text-4xl/tight lg:text-5xl/tight font-Baskervville -tracking-wide mt-6">Quick lorem ipsum about problem but also offering hope. IJM has a proven solution to make lasting change possible.</h2>
                    <div class="flex gap-5 flex-wrap items-center w-full justify-center mt-10">
                        <a href="#" class="py-3.5 px-6 md:w-auto w-full text-white inline-block uppercase font-bold bg-blue-800 tracking-widest border-2 border-blue-800 hover:bg-blue-950 hover:border-blue-950 transition-all duration-300">Track our Progress</a>
                        <a href="#" class="py-3.5 px-6 md:w-auto w-full hover:text-white inline-block hover:bg-blue-800 transition-all duration-300 uppercase font-bold bg-transparent tracking-widest border-2 border-blue-800 box-border">Connect with IJM</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="relative -mt-4 lg:-mt-24">
        <img src="/assets/images/footer-bg.jpg" class="object-cover w-full" alt="">
    </div>
</section>

<section class="relative">
    <img src="/assets/images/footer-bg.jpg" class="object-cover w-full h-full absolute inset-0" alt="">
    <div class="bg-blue-800/60 inset-0 w-full h-full absolute"></div>
    <div class="container relative z-10 lg:py-28 py-16">
        <div class="grid grid-cols-1">
            <div>
                <div class="max-w-4xl mx-auto text-center text-white">
                    <p class="uppercase tracking-widest text-lg md:text-xl font-bold">Model Contextualization</p>
                    <h2 class="text-4xl/tight lg:text-5xl/tight font-Baskervville -tracking-wide mt-6">Quick lorem ipsum about problem but also offering hope. IJM has a proven solution to make lasting change possible.</h2>
                    <div class="flex gap-5 flex-wrap items-center w-full justify-center mt-10">
                        <a href="#" class="py-3.5 px-6 md:w-auto w-full text-white inline-block uppercase font-bold bg-blue-800 tracking-widest border-2 border-blue-800 hover:bg-blue-950 hover:border-blue-950 transition-all duration-300">Track our Progress</a>
                        <a href="#" class="py-3.5 px-6 md:w-auto w-full hover:text-blue-800 inline-block hover:bg-white transition-all duration-300 uppercase font-bold bg-transparent tracking-widest border-2 border-white box-border">Connect with IJM</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}