{% extends "html/_includes/layout" %}

{% block seo %}
<title>Page Link</title>
{% endblock %}

{% block content %}
<section class="mt-[79px]">
    <div class="lg:min-h-[700px] lg:flex items-center relative">
        <div class="container flex items-center">
            <div class="relative z-10 lg:w-full lg:max-w-md">
                <div class="relative md:py-32 py-14">
                    <div class="mx-auto max-w-2xl lg:mx-0 lg:max-w-xl">
                        <h1 class="text-4xl lg:text-5xl/tight/tight font-Baskervville -tracking-wide">Quick lorem ipsum about problem but also offering hope. IJM has a proven solution to make lasting change possible.</h1>
                        <div class="mt-6">
                            <a href="#" class="px-8 py-3 border border-orange-500 hover:border-orange-600 bg-orange-500 text-white inline-block font-eurostile font-bold tracking-[1px] hover:bg-orange-600 transition-all duration-300">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bg-gray-50 lg:absolute lg:inset-y-0 lg:right-0 lg:w-1/2">
            <img class="object-cover max-h-80 md:max-h-96 lg:max-h-none lg:!h-full w-full" src="/assets/images/home-bg.png" alt="">
        </div>
    </div>
</section>

{% endblock %}