{% extends "html/_includes/layout" %}

{% block seo %}
<title>Page Link</title>
{% endblock %}

{% block content %}

<section class="mt-[79px]">
    <div class="h-[calc(100vh-79px)] flex items-stretch" x-data="{hamburger: true }">
        <div class="flex-1 w-full h-full">
            <div class="flex w-full h-full">
                <div class="bg-blue-800 w-full" :class="{'flex-1' : hamburger , '' : !hamburger}" x-show="hamburger" x-transition:enter="transition-transform ease-in-out duration-300" x-transition:enter="transform transition ease-in-out duration-300" x-transition:enter-start="-translate-x-full opacity-0" x-transition:enter-end="translate-x-0 opacity-100" x-transition:leave="transform transition ease-in-out duration-300" x-transition:leave-start="translate-x-0 opacity-100" x-transition:leave-end="-translate-x-full opacity-0">
                    <div>

                    </div>
                </div>
                <div class="w-[62px] shrink-0 border-l border-white bg-blue-800 transition-all duration-300">
                    <div>
                        <button class="flex items-center justify-center h-[87px] w-full" :class="{'bg-blue-500' : hamburger , '' : !hamburger}" x-on:click="hamburger = ! hamburger" @keydown.escape="hamburger = false">
                            <svg width="32" height="32" fill="none" xmlns="http://www.w3.org/2000/svg" class="transition-all duration-300" :class="{'rotate-180' : hamburger , '' : !hamburger}">
                                <path d="M29.591 16.41 14.939 30.408M29.591 16.41H0m29.591 0L14.939 2" stroke="#fff" stroke-width="3" />
                            </svg>
                        </button>
                    </div>
                    <div class="border-t border-white flex gap-8 flex-col h-[calc(100%-87px)] py-11">
                        <div class="flex w-full justify-center">
                            <p class="[writing-mode:vertical-lr] rotate-180 text-white">IJM Program Tracker</p>
                        </div>
                        <div class="flex w-full flex-col justify-end flex-1 items-center h-full">
                            <span>
                                <svg width="24" height="39" :class="{'fill-blue-500' : hamburger , '' : !hamburger}" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M11.613 32.806 1 37.265V1h22v36.264l-10.613-4.458-.387-.162-.387.162Z" stroke="#fff" stroke-width="2" />
                                    <circle cx="6.675" cy="11.92" r=".648" fill="#fff" stroke="#fff" stroke-width="1.5" />
                                    <circle cx="6.675" cy="16.791" r=".648" fill="#fff" stroke="#fff" stroke-width="1.5" />
                                    <circle cx="6.675" cy="22.093" r=".648" fill="#fff" stroke="#fff" stroke-width="1.5" />
                                    <circle cx="11.977" cy="16.791" r=".648" fill="#fff" stroke="#fff" stroke-width="1.5" />
                                    <circle cx="11.977" cy="11.92" r=".648" fill="#fff" stroke="#fff" stroke-width="1.5" />
                                    <circle cx="17.28" cy="16.791" r=".648" fill="#fff" stroke="#fff" stroke-width="1.5" />
                                    <circle cx="11.977" cy="22.093" r=".648" fill="#fff" stroke="#fff" stroke-width="1.5" />
                                    <circle cx="17.28" cy="11.92" r=".648" fill="#fff" stroke="#fff" stroke-width="1.5" />
                                    <circle cx="17.28" cy="22.093" r=".648" fill="#fff" stroke="#fff" stroke-width="1.5" />
                                </svg>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="w-full relative transition-all duration-500" x-data="{drawer: false }" :class="{'flex-1' : hamburger , 'flex-auto' : !hamburger}">
            <img src="/assets/images/map.png" class="object-cover w-full h-full" alt="">
            <div>
                <div class="absolute left-8 top-8">
                    <button x-on:click="drawer = ! drawer" @keydown.escape="drawer = false" :class="{'bg-blue-800 text-white' : drawer , 'bg-white text-blue-800' : !drawer}" class="relative group flex gap-5 px-5 py-3 hover:bg-blue-800 hover:text-white border border-blue-800 font-medium text-lg transition-all duration-300 shrink-0">
                        <span class="md:block hidden">
                            Filter Map
                        </span>
                        <svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 3.5H11.25H22.5" stroke="currentColor" stroke-width="2" />
                            <path d="M0 12H11.25H22.5" stroke="currentColor" stroke-width="2" />
                            <path d="M0 20H11.25H22.5" stroke="currentColor" stroke-width="2" />
                            <circle cx="6" cy="3" r="2" class="fill-white group-hover:fill-blue-800" fill="currentColor" stroke="currentColor" stroke-width="2" />
                            <circle cx="17" cy="12" r="2" class="fill-white group-hover:fill-blue-800" fill="currentColor" stroke="currentColor" stroke-width="2" />
                            <circle cx="11" cy="20" r="2" class="fill-white group-hover:fill-blue-800" fill="currentColor" stroke="currentColor" stroke-width="2" />
                        </svg>
                    </button>
                </div>
                <div>
                    <div x-show="drawer" @click="drawer = false" class="fixed block inset-0 bg-blue-800/40 z-50" x-transition:enter="transition-opacity ease-out duration-300" x-transition:enter-start="opacity-0" x-transition:enter-end="opacity-100" x-transition:leave="transition-opacity ease-in duration-300" x-transition:leave-start="opacity-100" x-transition:leave-end="opacity-0"></div>
                    <div class="relative">
                        <div x-show="drawer" style="display:none" class="space-y-8 duration-300 z-50 ease-in-out right-0 w-[320px] md:w-[450px] lg:w-[631px] bg-white fixed top-0 overflow-auto h-screen" x-transition:enter="transition-transform ease-in-out duration-300" x-transition:enter="transform transition ease-in-out duration-300" x-transition:enter-start="translate-x-full opacity-0" x-transition:enter-end="translate-x-0 opacity-100" x-transition:leave="transform transition ease-in-out duration-300" x-transition:leave-start="translate-x-0 opacity-100" x-transition:leave-end="translate-x-full opacity-0">
                            <div class="flex bg-white items-center gap-8 justify-between w-full sticky py-8 px-8 md:px-16 top-0 border-b-2 border-blue-800">
                                <div>
                                    <p class="">1 Filter Selected</p>
                                    <div class="mt-2">
                                        <ul class="flex flex-wrap gap-[18px]">
                                            <li class="text-xs border border-blue-800 px-2 py-1.5 rounded-full flex gap-2 items-center">
                                                Stage: Successful
                                                <a href="#" class="hover:text-blue-500 transition-all duration-300">
                                                    <svg width="9" height="9" viewBox="0 0 9 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M1 1L8 8" stroke="currentColor" />
                                                        <path d="M8 1L1 8" stroke="currentColor" />
                                                    </svg>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <button class="h-5 w-5 flex items-center justify-center hover:text-turkey-800 transition-all duration-300" x-show="drawer" @click="drawer = false;" x-transition:enter="transition-transform ease-in-out duration-300" x-transition:enter="transform transition ease-in-out duration-300" x-transition:enter-start="-translate-x-full opacity-0" x-transition:enter-end="translate-x-0 opacity-100" x-transition:leave="transform transition ease-in-out duration-300" x-transition:leave-start="translate-x-0 opacity-100" x-transition:leave-end="-translate-x-full opacity-0">
                                    <svg width="23" height="22" viewBox="0 0 23 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M1 1L21 21" stroke="black" stroke-width="2" />
                                        <path d="M22 1L2 21" stroke="black" stroke-width="2" />
                                    </svg>
                                </button>
                            </div>
                            <div x-data="{ activeMenu: '' }">
                                <div class="text-base border-b first:pt-0 last:border-0 border-blue-800/50 px-16 py-8">
                                    <span @click="activeMenu === 'jurisdiction' ? activeMenu = null : activeMenu = 'jurisdiction'" class="hover:text-blue-500 text-lg transition-all duration-300 flex items-center justify-between w-full cursor-pointer">Jurisdiction
                                        <div class="w-4 h-4 flex items-center justify-center transition-all duration-300" :class="{'!rotate-180' : activeMenu === 'jurisdiction'}">
                                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                                <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
                                            </svg>
                                        </div>
                                    </span>
                                    <div style="display:none" x-show="activeMenu === 'jurisdiction'" x-collapse class="pl-2 grid grid-cols-2 gap-x-4 gap-y-3.5 mt-10">
                                        <div>
                                            <label class="inline-flex cursor-pointer">
                                                <input type="checkbox" disabled class="h-[18px] w-[18px] disabled:opacity-10 cursor-pointer mt-1 border border-blue-800 bg-transparent text-blue-500 checked:border-blue-500 !shadow-none !outline-none !ring-0 !ring-offset-0 checked:bg-[length:90%_90%] mr-1.5">
                                                <span>Bolivia</span>
                                            </label>
                                        </div>
                                        <div>
                                            <label class="inline-flex cursor-pointer">
                                                <input type="checkbox" class="h-[18px] w-[18px] cursor-pointer mt-1 border border-blue-800 bg-transparent text-blue-500 checked:border-blue-500 !shadow-none !outline-none !ring-0 !ring-offset-0 checked:bg-[length:90%_90%] mr-1.5">
                                                <span>Hungary</span>
                                            </label>
                                        </div>
                                        <div>
                                            <label class="inline-flex cursor-pointer">
                                                <input type="checkbox" class="h-[18px] w-[18px] cursor-pointer mt-1 border border-blue-800 bg-transparent text-blue-500 checked:border-blue-500 !shadow-none !outline-none !ring-0 !ring-offset-0 checked:bg-[length:90%_90%] mr-1.5">
                                                <span>Kenya</span>
                                            </label>
                                        </div>
                                        <div>
                                            <label class="inline-flex cursor-pointer">
                                                <input type="checkbox" class="h-[18px] w-[18px] cursor-pointer mt-1 border border-blue-800 bg-transparent text-blue-500 checked:border-blue-500 !shadow-none !outline-none !ring-0 !ring-offset-0 checked:bg-[length:90%_90%] mr-1.5">
                                                <span>Bolivia</span>
                                            </label>
                                        </div>
                                        <div>
                                            <label class="inline-flex cursor-pointer">
                                                <input type="checkbox" class="h-[18px] w-[18px] cursor-pointer mt-1 border border-blue-800 bg-transparent text-blue-500 checked:border-blue-500 !shadow-none !outline-none !ring-0 !ring-offset-0 checked:bg-[length:90%_90%] mr-1.5">
                                                <span>Hungary</span>
                                            </label>
                                        </div>
                                        <div>
                                            <label class="inline-flex cursor-pointer">
                                                <input type="checkbox" class="h-[18px] w-[18px] cursor-pointer mt-1 border border-blue-800 bg-transparent text-blue-500 checked:border-blue-500 !shadow-none !outline-none !ring-0 !ring-offset-0 checked:bg-[length:90%_90%] mr-1.5">
                                                <span>Kenya</span>
                                            </label>
                                        </div>
                                        <div>
                                            <label class="inline-flex cursor-pointer">
                                                <input type="checkbox" class="h-[18px] w-[18px] cursor-pointer mt-1 border border-blue-800 bg-transparent text-blue-500 checked:border-blue-500 !shadow-none !outline-none !ring-0 !ring-offset-0 checked:bg-[length:90%_90%] mr-1.5">
                                                <span>Kenya</span>
                                            </label>
                                        </div>
                                        <div>
                                            <label class="inline-flex cursor-pointer">
                                                <input type="checkbox" class="h-[18px] w-[18px] cursor-pointer mt-1 border border-blue-800 bg-transparent text-blue-500 checked:border-blue-500 !shadow-none !outline-none !ring-0 !ring-offset-0 checked:bg-[length:90%_90%] mr-1.5">
                                                <span>Bolivia</span>
                                            </label>
                                        </div>
                                        <div>
                                            <label class="inline-flex cursor-pointer">
                                                <input type="checkbox" class="h-[18px] w-[18px] cursor-pointer mt-1 border border-blue-800 bg-transparent text-blue-500 checked:border-blue-500 !shadow-none !outline-none !ring-0 !ring-offset-0 checked:bg-[length:90%_90%] mr-1.5">
                                                <span>Hungary</span>
                                            </label>
                                        </div>
                                        <div>
                                            <label class="inline-flex cursor-pointer">
                                                <input type="checkbox" class="h-[18px] w-[18px] cursor-pointer mt-1 border border-blue-800 bg-transparent text-blue-500 checked:border-blue-500 !shadow-none !outline-none !ring-0 !ring-offset-0 checked:bg-[length:90%_90%] mr-1.5">
                                                <span>Kenya</span>
                                            </label>
                                        </div>
                                        <div>
                                            <label class="inline-flex cursor-pointer">
                                                <input type="checkbox" class="h-[18px] w-[18px] cursor-pointer mt-1 border border-blue-800 bg-transparent text-blue-500 checked:border-blue-500 !shadow-none !outline-none !ring-0 !ring-offset-0 checked:bg-[length:90%_90%] mr-1.5">
                                                <span>Bolivia</span>
                                            </label>
                                        </div>
                                        <div>
                                            <label class="inline-flex cursor-pointer">
                                                <input type="checkbox" class="h-[18px] w-[18px] cursor-pointer mt-1 border border-blue-800 bg-transparent text-blue-500 checked:border-blue-500 !shadow-none !outline-none !ring-0 !ring-offset-0 checked:bg-[length:90%_90%] mr-1.5">
                                                <span>Hungary</span>
                                            </label>
                                        </div>
                                        <div>
                                            <label class="inline-flex cursor-pointer">
                                                <input type="checkbox" class="h-[18px] w-[18px] cursor-pointer mt-1 border border-blue-800 bg-transparent text-blue-500 checked:border-blue-500 !shadow-none !outline-none !ring-0 !ring-offset-0 checked:bg-[length:90%_90%] mr-1.5">
                                                <span>Kenya</span>
                                            </label>
                                        </div>
                                        <div>
                                            <label class="inline-flex cursor-pointer">
                                                <input type="checkbox" class="h-[18px] w-[18px] cursor-pointer mt-1 border border-blue-800 bg-transparent text-blue-500 checked:border-blue-500 !shadow-none !outline-none !ring-0 !ring-offset-0 checked:bg-[length:90%_90%] mr-1.5">
                                                <span>Bolivia</span>
                                            </label>
                                        </div>
                                        <div>
                                            <label class="inline-flex cursor-pointer">
                                                <input type="checkbox" class="h-[18px] w-[18px] cursor-pointer mt-1 border border-blue-800 bg-transparent text-blue-500 checked:border-blue-500 !shadow-none !outline-none !ring-0 !ring-offset-0 checked:bg-[length:90%_90%] mr-1.5">
                                                <span>Hungary</span>
                                            </label>
                                        </div>
                                        <div>
                                            <label class="inline-flex cursor-pointer">
                                                <input type="checkbox" class="h-[18px] w-[18px] cursor-pointer mt-1 border border-blue-800 bg-transparent text-blue-500 checked:border-blue-500 !shadow-none !outline-none !ring-0 !ring-offset-0 checked:bg-[length:90%_90%] mr-1.5">
                                                <span>Kenya</span>
                                            </label>
                                        </div>
                                        <div>
                                            <label class="inline-flex cursor-pointer">
                                                <input type="checkbox" class="h-[18px] w-[18px] cursor-pointer mt-1 border border-blue-800 bg-transparent text-blue-500 checked:border-blue-500 !shadow-none !outline-none !ring-0 !ring-offset-0 checked:bg-[length:90%_90%] mr-1.5">
                                                <span>Bolivia</span>
                                            </label>
                                        </div>
                                        <div>
                                            <label class="inline-flex cursor-pointer">
                                                <input type="checkbox" class="h-[18px] w-[18px] cursor-pointer mt-1 border border-blue-800 bg-transparent text-blue-500 checked:border-blue-500 !shadow-none !outline-none !ring-0 !ring-offset-0 checked:bg-[length:90%_90%] mr-1.5">
                                                <span>Hungary</span>
                                            </label>
                                        </div>
                                        <div>
                                            <label class="inline-flex cursor-pointer">
                                                <input type="checkbox" class="h-[18px] w-[18px] cursor-pointer mt-1 border border-blue-800 bg-transparent text-blue-500 checked:border-blue-500 !shadow-none !outline-none !ring-0 !ring-offset-0 checked:bg-[length:90%_90%] mr-1.5">
                                                <span>Kenya</span>
                                            </label>
                                        </div>
                                        <div>
                                            <label class="inline-flex cursor-pointer">
                                                <input type="checkbox" class="h-[18px] w-[18px] cursor-pointer mt-1 border border-blue-800 bg-transparent text-blue-500 checked:border-blue-500 !shadow-none !outline-none !ring-0 !ring-offset-0 checked:bg-[length:90%_90%] mr-1.5">
                                                <span>Bolivia</span>
                                            </label>
                                        </div>
                                        <div>
                                            <label class="inline-flex cursor-pointer">
                                                <input type="checkbox" class="h-[18px] w-[18px] cursor-pointer mt-1 border border-blue-800 bg-transparent text-blue-500 checked:border-blue-500 !shadow-none !outline-none !ring-0 !ring-offset-0 checked:bg-[length:90%_90%] mr-1.5">
                                                <span>Hungary</span>
                                            </label>
                                        </div>
                                        <div>
                                            <label class="inline-flex cursor-pointer">
                                                <input type="checkbox" class="h-[18px] w-[18px] cursor-pointer mt-1 border border-blue-800 bg-transparent text-blue-500 checked:border-blue-500 !shadow-none !outline-none !ring-0 !ring-offset-0 checked:bg-[length:90%_90%] mr-1.5">
                                                <span>Kenya</span>
                                            </label>
                                        </div>
                                        <div>
                                            <label class="inline-flex cursor-pointer">
                                                <input type="checkbox" class="h-[18px] w-[18px] cursor-pointer mt-1 border border-blue-800 bg-transparent text-blue-500 checked:border-blue-500 !shadow-none !outline-none !ring-0 !ring-offset-0 checked:bg-[length:90%_90%] mr-1.5">
                                                <span>Bolivia</span>
                                            </label>
                                        </div>
                                        <div>
                                            <label class="inline-flex cursor-pointer">
                                                <input type="checkbox" class="h-[18px] w-[18px] cursor-pointer mt-1 border border-blue-800 bg-transparent text-blue-500 checked:border-blue-500 !shadow-none !outline-none !ring-0 !ring-offset-0 checked:bg-[length:90%_90%] mr-1.5">
                                                <span>Hungary</span>
                                            </label>
                                        </div>
                                        <div>
                                            <label class="inline-flex cursor-pointer">
                                                <input type="checkbox" class="h-[18px] w-[18px] cursor-pointer mt-1 border border-blue-800 bg-transparent text-blue-500 checked:border-blue-500 !shadow-none !outline-none !ring-0 !ring-offset-0 checked:bg-[length:90%_90%] mr-1.5">
                                                <span>Kenya</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="text-base border-b first:pt-0 last:border-0 border-blue-800/50 px-16 py-8">
                                    <span @click="activeMenu === 'casework' ? activeMenu = null : activeMenu = 'casework'" class="hover:text-blue-500 text-lg transition-all duration-300 flex items-center justify-between w-full cursor-pointer">Casework
                                        <div class="w-4 h-4 flex items-center justify-center transition-all duration-300" :class="{'!rotate-180' : activeMenu === 'casework'}">
                                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                                <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5" />
                                            </svg>
                                        </div>
                                    </span>
                                    <div style="display:none" x-show="activeMenu === 'casework'" x-collapse class="pl-2 grid grid-cols-2 gap-x-4 gap-y-3.5 mt-10">
                                        <div>
                                            <label class="inline-flex cursor-pointer">
                                                <input type="checkbox" disabled class="h-[18px] w-[18px] disabled:opacity-10 cursor-pointer mt-1 border border-blue-800 bg-transparent text-blue-500 checked:border-blue-500 !shadow-none !outline-none !ring-0 !ring-offset-0 checked:bg-[length:90%_90%] mr-1.5">
                                                <span>Bolivia</span>
                                            </label>
                                        </div>
                                        <div>
                                            <label class="inline-flex cursor-pointer">
                                                <input type="checkbox" class="h-[18px] w-[18px] cursor-pointer mt-1 border border-blue-800 bg-transparent text-blue-500 checked:border-blue-500 !shadow-none !outline-none !ring-0 !ring-offset-0 checked:bg-[length:90%_90%] mr-1.5">
                                                <span>Hungary</span>
                                            </label>
                                        </div>
                                        <div>
                                            <label class="inline-flex cursor-pointer">
                                                <input type="checkbox" class="h-[18px] w-[18px] cursor-pointer mt-1 border border-blue-800 bg-transparent text-blue-500 checked:border-blue-500 !shadow-none !outline-none !ring-0 !ring-offset-0 checked:bg-[length:90%_90%] mr-1.5">
                                                <span>Kenya</span>
                                            </label>
                                        </div>
                                        <div>
                                            <label class="inline-flex cursor-pointer">
                                                <input type="checkbox" class="h-[18px] w-[18px] cursor-pointer mt-1 border border-blue-800 bg-transparent text-blue-500 checked:border-blue-500 !shadow-none !outline-none !ring-0 !ring-offset-0 checked:bg-[length:90%_90%] mr-1.5">
                                                <span>Bolivia</span>
                                            </label>
                                        </div>
                                        <div>
                                            <label class="inline-flex cursor-pointer">
                                                <input type="checkbox" class="h-[18px] w-[18px] cursor-pointer mt-1 border border-blue-800 bg-transparent text-blue-500 checked:border-blue-500 !shadow-none !outline-none !ring-0 !ring-offset-0 checked:bg-[length:90%_90%] mr-1.5">
                                                <span>Hungary</span>
                                            </label>
                                        </div>
                                        <div>
                                            <label class="inline-flex cursor-pointer">
                                                <input type="checkbox" class="h-[18px] w-[18px] cursor-pointer mt-1 border border-blue-800 bg-transparent text-blue-500 checked:border-blue-500 !shadow-none !outline-none !ring-0 !ring-offset-0 checked:bg-[length:90%_90%] mr-1.5">
                                                <span>Kenya</span>
                                            </label>
                                        </div>
                                        <div>
                                            <label class="inline-flex cursor-pointer">
                                                <input type="checkbox" class="h-[18px] w-[18px] cursor-pointer mt-1 border border-blue-800 bg-transparent text-blue-500 checked:border-blue-500 !shadow-none !outline-none !ring-0 !ring-offset-0 checked:bg-[length:90%_90%] mr-1.5">
                                                <span>Kenya</span>
                                            </label>
                                        </div>
                                        <div>
                                            <label class="inline-flex cursor-pointer">
                                                <input type="checkbox" class="h-[18px] w-[18px] cursor-pointer mt-1 border border-blue-800 bg-transparent text-blue-500 checked:border-blue-500 !shadow-none !outline-none !ring-0 !ring-offset-0 checked:bg-[length:90%_90%] mr-1.5">
                                                <span>Bolivia</span>
                                            </label>
                                        </div>
                                        <div>
                                            <label class="inline-flex cursor-pointer">
                                                <input type="checkbox" class="h-[18px] w-[18px] cursor-pointer mt-1 border border-blue-800 bg-transparent text-blue-500 checked:border-blue-500 !shadow-none !outline-none !ring-0 !ring-offset-0 checked:bg-[length:90%_90%] mr-1.5">
                                                <span>Hungary</span>
                                            </label>
                                        </div>
                                        <div>
                                            <label class="inline-flex cursor-pointer">
                                                <input type="checkbox" class="h-[18px] w-[18px] cursor-pointer mt-1 border border-blue-800 bg-transparent text-blue-500 checked:border-blue-500 !shadow-none !outline-none !ring-0 !ring-offset-0 checked:bg-[length:90%_90%] mr-1.5">
                                                <span>Kenya</span>
                                            </label>
                                        </div>
                                        <div>
                                            <label class="inline-flex cursor-pointer">
                                                <input type="checkbox" class="h-[18px] w-[18px] cursor-pointer mt-1 border border-blue-800 bg-transparent text-blue-500 checked:border-blue-500 !shadow-none !outline-none !ring-0 !ring-offset-0 checked:bg-[length:90%_90%] mr-1.5">
                                                <span>Bolivia</span>
                                            </label>
                                        </div>
                                        <div>
                                            <label class="inline-flex cursor-pointer">
                                                <input type="checkbox" class="h-[18px] w-[18px] cursor-pointer mt-1 border border-blue-800 bg-transparent text-blue-500 checked:border-blue-500 !shadow-none !outline-none !ring-0 !ring-offset-0 checked:bg-[length:90%_90%] mr-1.5">
                                                <span>Hungary</span>
                                            </label>
                                        </div>
                                        <div>
                                            <label class="inline-flex cursor-pointer">
                                                <input type="checkbox" class="h-[18px] w-[18px] cursor-pointer mt-1 border border-blue-800 bg-transparent text-blue-500 checked:border-blue-500 !shadow-none !outline-none !ring-0 !ring-offset-0 checked:bg-[length:90%_90%] mr-1.5">
                                                <span>Kenya</span>
                                            </label>
                                        </div>
                                        <div>
                                            <label class="inline-flex cursor-pointer">
                                                <input type="checkbox" class="h-[18px] w-[18px] cursor-pointer mt-1 border border-blue-800 bg-transparent text-blue-500 checked:border-blue-500 !shadow-none !outline-none !ring-0 !ring-offset-0 checked:bg-[length:90%_90%] mr-1.5">
                                                <span>Bolivia</span>
                                            </label>
                                        </div>
                                        <div>
                                            <label class="inline-flex cursor-pointer">
                                                <input type="checkbox" class="h-[18px] w-[18px] cursor-pointer mt-1 border border-blue-800 bg-transparent text-blue-500 checked:border-blue-500 !shadow-none !outline-none !ring-0 !ring-offset-0 checked:bg-[length:90%_90%] mr-1.5">
                                                <span>Hungary</span>
                                            </label>
                                        </div>
                                        <div>
                                            <label class="inline-flex cursor-pointer">
                                                <input type="checkbox" class="h-[18px] w-[18px] cursor-pointer mt-1 border border-blue-800 bg-transparent text-blue-500 checked:border-blue-500 !shadow-none !outline-none !ring-0 !ring-offset-0 checked:bg-[length:90%_90%] mr-1.5">
                                                <span>Kenya</span>
                                            </label>
                                        </div>
                                        <div>
                                            <label class="inline-flex cursor-pointer">
                                                <input type="checkbox" class="h-[18px] w-[18px] cursor-pointer mt-1 border border-blue-800 bg-transparent text-blue-500 checked:border-blue-500 !shadow-none !outline-none !ring-0 !ring-offset-0 checked:bg-[length:90%_90%] mr-1.5">
                                                <span>Bolivia</span>
                                            </label>
                                        </div>
                                        <div>
                                            <label class="inline-flex cursor-pointer">
                                                <input type="checkbox" class="h-[18px] w-[18px] cursor-pointer mt-1 border border-blue-800 bg-transparent text-blue-500 checked:border-blue-500 !shadow-none !outline-none !ring-0 !ring-offset-0 checked:bg-[length:90%_90%] mr-1.5">
                                                <span>Hungary</span>
                                            </label>
                                        </div>
                                        <div>
                                            <label class="inline-flex cursor-pointer">
                                                <input type="checkbox" class="h-[18px] w-[18px] cursor-pointer mt-1 border border-blue-800 bg-transparent text-blue-500 checked:border-blue-500 !shadow-none !outline-none !ring-0 !ring-offset-0 checked:bg-[length:90%_90%] mr-1.5">
                                                <span>Kenya</span>
                                            </label>
                                        </div>
                                        <div>
                                            <label class="inline-flex cursor-pointer">
                                                <input type="checkbox" class="h-[18px] w-[18px] cursor-pointer mt-1 border border-blue-800 bg-transparent text-blue-500 checked:border-blue-500 !shadow-none !outline-none !ring-0 !ring-offset-0 checked:bg-[length:90%_90%] mr-1.5">
                                                <span>Bolivia</span>
                                            </label>
                                        </div>
                                        <div>
                                            <label class="inline-flex cursor-pointer">
                                                <input type="checkbox" class="h-[18px] w-[18px] cursor-pointer mt-1 border border-blue-800 bg-transparent text-blue-500 checked:border-blue-500 !shadow-none !outline-none !ring-0 !ring-offset-0 checked:bg-[length:90%_90%] mr-1.5">
                                                <span>Hungary</span>
                                            </label>
                                        </div>
                                        <div>
                                            <label class="inline-flex cursor-pointer">
                                                <input type="checkbox" class="h-[18px] w-[18px] cursor-pointer mt-1 border border-blue-800 bg-transparent text-blue-500 checked:border-blue-500 !shadow-none !outline-none !ring-0 !ring-offset-0 checked:bg-[length:90%_90%] mr-1.5">
                                                <span>Kenya</span>
                                            </label>
                                        </div>
                                        <div>
                                            <label class="inline-flex cursor-pointer">
                                                <input type="checkbox" class="h-[18px] w-[18px] cursor-pointer mt-1 border border-blue-800 bg-transparent text-blue-500 checked:border-blue-500 !shadow-none !outline-none !ring-0 !ring-offset-0 checked:bg-[length:90%_90%] mr-1.5">
                                                <span>Bolivia</span>
                                            </label>
                                        </div>
                                        <div>
                                            <label class="inline-flex cursor-pointer">
                                                <input type="checkbox" class="h-[18px] w-[18px] cursor-pointer mt-1 border border-blue-800 bg-transparent text-blue-500 checked:border-blue-500 !shadow-none !outline-none !ring-0 !ring-offset-0 checked:bg-[length:90%_90%] mr-1.5">
                                                <span>Hungary</span>
                                            </label>
                                        </div>
                                        <div>
                                            <label class="inline-flex cursor-pointer">
                                                <input type="checkbox" class="h-[18px] w-[18px] cursor-pointer mt-1 border border-blue-800 bg-transparent text-blue-500 checked:border-blue-500 !shadow-none !outline-none !ring-0 !ring-offset-0 checked:bg-[length:90%_90%] mr-1.5">
                                                <span>Kenya</span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="">
                                <div class="px-16 bottom-10 inset-x-0 sticky">
                                    <button type="submit" class="bg-blue-800 w-full font-bold text-base text-center hover:cursor-pointer hover:bg-turkey-900 transition-all duration-300 uppercase text-white py-5 px-6">View 5 Jurisdictions</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="absolute left-8 bottom-8">
                <p class="text-blue-500 font-bold">Program Footprint</p>
                <p>Jurisdictions: 55</p>
            </div>
        </div>
    </div>
</section>

{% endblock %}