{% extends "html/_includes/layout" %}

{% block seo %}
<title>Page Link</title>
{% endblock %}

{% block content %}


<section class="mb-16 md:mb-28 mt-40">
    <div class="container">
        <div class="grid grid-cols-1">
            <div class="overflow-x-auto">
                <div class="inline-block min-w-full">
                    <div class="overflow-hidden">
                        <table class="min-w-full whitespace-nowrap border border-gray-100 rounded-lg overflow-hidden">
                            <thead class="bg-primary-500/20 text-primary-500 border-b">
                                <tr>
                                    <th scope="col" class="font-medium px-6 py-4">
                                        Page Name
                                    </th>
                                    <th scope="col" class="font-medium px-6 py-4 text-blue-500">
                                        Page Link
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                {#
                                <tr class="bg-white border-b border-gray-100 last:border-0">
                                    <td class="px-6 py-4 font-medium whitespace-nowrap caption-top">Typography Page</td>
                                    <td class="px-6 py-4 font-medium whitespace-nowrap caption-top text-blue-500 hover:text-blue-700 transition-all duration-300"><a href="/html/typography">Typography Page</a></td>
                                </tr>
                                #}
                                <tr class="bg-white border-b border-gray-100 last:border-0">
                                    <td class="px-6 py-4 font-medium whitespace-nowrap caption-top">Home Page</td>
                                    <td class="px-6 py-4 font-medium whitespace-nowrap caption-top text-blue-500 hover:text-blue-700 transition-all duration-300"><a href="/html/home">Home Page</a></td>
                                </tr>
                                <tr class="bg-white border-b border-gray-100 last:border-0">
                                    <td class="px-6 py-4 font-medium whitespace-nowrap caption-top">Jurisdiction - Identified Page</td>
                                    <td class="px-6 py-4 font-medium whitespace-nowrap caption-top text-blue-500 hover:text-blue-700 transition-all duration-300"><a href="/html/jurisdiction-identified">Jurisdiction - Identified Page</a></td>
                                </tr>
                                <tr class="bg-white border-b border-gray-100 last:border-0">
                                    <td class="px-6 py-4 font-medium whitespace-nowrap caption-top">Jurisdiction - Teams Deployed Page</td>
                                    <td class="px-6 py-4 font-medium whitespace-nowrap caption-top text-blue-500 hover:text-blue-700 transition-all duration-300"><a href="/html/jurisdiction-team">Jurisdiction - Teams Deployed Page</a></td>
                                </tr>
                                <tr class="bg-white border-b border-gray-100 last:border-0">
                                    <td class="px-6 py-4 font-medium whitespace-nowrap caption-top">Jurisdiction - Projects Ready Page</td>
                                    <td class="px-6 py-4 font-medium whitespace-nowrap caption-top text-blue-500 hover:text-blue-700 transition-all duration-300"><a href="/html/jurisdiction-project">Jurisdiction - Projects Ready Page</a></td>
                                </tr>
                                <tr class="bg-white border-b border-gray-100 last:border-0">
                                    <td class="px-6 py-4 font-medium whitespace-nowrap caption-top">Jurisdiction - Inflight Page</td>
                                    <td class="px-6 py-4 font-medium whitespace-nowrap caption-top text-blue-500 hover:text-blue-700 transition-all duration-300"><a href="/html/jurisdiction-Inflight">Jurisdiction - Inflight Page</a></td>
                                </tr>
                                <tr class="bg-white border-b border-gray-100 last:border-0">
                                    <td class="px-6 py-4 font-medium whitespace-nowrap caption-top">Jurisdiction - Landing Page</td>
                                    <td class="px-6 py-4 font-medium whitespace-nowrap caption-top text-blue-500 hover:text-blue-700 transition-all duration-300"><a href="/html/jurisdiction-landing">Jurisdiction - Landing Page</a></td>
                                </tr>
                                <tr class="bg-white border-b border-gray-100 last:border-0">
                                    <td class="px-6 py-4 font-medium whitespace-nowrap caption-top">Jurisdiction - Success Page</td>
                                    <td class="px-6 py-4 font-medium whitespace-nowrap caption-top text-blue-500 hover:text-blue-700 transition-all duration-300"><a href="/html/jurisdiction-success">Jurisdiction - Success Page</a></td>
                                </tr>
                                <tr class="bg-white border-b border-gray-100 last:border-0">
                                    <td class="px-6 py-4 font-medium whitespace-nowrap caption-top">Additional Info - Two Column Page</td>
                                    <td class="px-6 py-4 font-medium whitespace-nowrap caption-top text-blue-500 hover:text-blue-700 transition-all duration-300"><a href="/html/additional-info">Additional Info - Two Column Page</a></td>
                                </tr>
                                <tr class="bg-white border-b border-gray-100 last:border-0">
                                    <td class="px-6 py-4 font-medium whitespace-nowrap caption-top">Additional Info - One Column Page</td>
                                    <td class="px-6 py-4 font-medium whitespace-nowrap caption-top text-blue-500 hover:text-blue-700 transition-all duration-300"><a href="/html/additional-info-two">Additional Info - One Column Page</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}