{% extends "html/_includes/layout" %}
{% set header = "closable" %}
{% block seo %}
<title>Page Link</title>
{% endblock %}

{% block content %}

<section class="relative lg:min-h-[920px] lg:flex lg:items-center">
    <img src="/assets/images/bg-main.png" alt="img" class="object-cover w-full h-full absolute">
    <div class="container relative z-10 pt-[72px] md:pt-[168px] lg:pb-[120px] md:pb-[76px]">
        <div class="flex items-start md:flex-row flex-col gap-9 relative top-24 md:top-0">
            <div class="text-white w-full flex-1">
                <p class="text-blue-500 uppercase tracking-widest">Region: Africa</p>
                <h1 class="text-4xl md:text-7xl font-Baskervville -tracking-wide mt-5">Ghana</h1>
                <div class="mt-12">
                    <p class="text-lg uppercase font-bold tracking-widest"><span class="text-blue-500">Stage:</span> Jurisdiction Identified</p>
                    <p class="text-xs mt-2">Pre-qualified: High poverty, High violence, High plausibility of change</p>
                    <div class="flex w-full mt-4">
                        <div class="h-[18px] relative flex-1 w-full first:after:hidden first:before:hidden after:absolute after:border-r after:border-white/40 after:h-[11px] after:-left-1 after:bg-blue-800 after:w-[9px] after:-rotate-45 after:top-[2px] before:absolute before:border-r before:border-white/40 before:h-3 before:-left-1 before:bg-blue-800 before:w-[9px] before:rotate-45 before:bottom-[2px] hr-progress hr-progress-target">
                            <div class="bg-blue-800 border border-white/40 h-full flex items-center justify-center w-full hr-progress-inner"></div>
                        </div>
                        <div class="h-[18px] relative flex-1 w-full first:after:hidden first:before:hidden after:absolute after:border-r after:border-white/40 after:h-[11px] after:-left-1 after:bg-blue-800 after:w-[9px] after:-rotate-45 after:top-[2px] before:absolute before:border-r before:border-white/40 before:h-3 before:-left-1 before:bg-blue-800 before:w-[9px] before:rotate-45 before:bottom-[2px] hr-progress hr-progress-target">
                            <div class="bg-blue-800 border border-white/40 h-full flex items-center justify-center w-full hr-progress-inner"></div>
                        </div>
                        <div class="h-[18px] relative flex-1 w-full first:after:hidden first:before:hidden after:absolute after:border-r after:border-white/40 after:h-[11px] after:-left-1 after:bg-blue-800 after:w-[9px] after:-rotate-45 after:top-[2px] before:absolute before:border-r before:border-white/40 before:h-3 before:-left-1 before:bg-blue-800 before:w-[9px] before:rotate-45 before:bottom-[2px] hr-progress hr-progress-target active">
                            <div class="bg-blue-800 border border-white/40 h-full flex items-center justify-center w-full hr-progress-inner"></div>
                        </div>
                        <div class="h-[18px] relative flex-1 w-full first:after:hidden first:before:hidden after:absolute after:border-r after:border-white/40 after:h-[11px] after:-left-1 after:bg-blue-800 after:w-[9px] after:-rotate-45 after:top-[2px] before:absolute before:border-r before:border-white/40 before:h-3 before:-left-1 before:bg-blue-800 before:w-[9px] before:rotate-45 before:bottom-[2px] hr-progress hr-progress-target">
                            <div class="bg-blue-800 border border-white/40 h-full flex items-center justify-center w-full hr-progress-inner"></div>
                        </div>
                        <div class="h-[18px] relative flex-1 w-full first:after:hidden first:before:hidden after:absolute after:border-r after:border-white/40 after:h-[11px] after:-left-1 after:bg-blue-800 after:w-[9px] after:-rotate-45 after:top-[2px] before:absolute before:border-r before:border-white/40 before:h-3 before:-left-1 before:bg-blue-800 before:w-[9px] before:rotate-45 before:bottom-[2px] hr-progress hr-progress-target">
                            <div class="bg-blue-800 border border-white/40 h-full flex items-center justify-center w-full hr-progress-inner"></div>
                        </div>
                    </div>
                </div>
                <div class="grid grid-cols-2 gap-y-9 sm:gap-y-10 gap-3 items-end mt-14">
                    <div>
                        <p class="text-blue-500 uppercase font-medium text-sm tracking-widest">Protection Target:</p>
                        <p class="font-bold text-lg tracking-widest uppercase">XX Million</p>
                    </div>
                    <div>
                        <p class="text-blue-500 uppercase font-medium text-sm tracking-widest">CaseType:</p>
                        <p class="font-bold text-lg tracking-widest uppercase">CaseType Name</p>
                    </div>
                    <div>
                        <p class="text-blue-500 uppercase font-medium text-sm tracking-widest">Total Investment To Protect XX Million People:</p>
                        <p class="font-bold text-lg tracking-widest uppercase">XX Million</p>
                    </div>
                    <div>
                        <p class="text-blue-500 uppercase font-medium text-sm tracking-widest">Cost Per Person Protected:</p>
                        <p class="font-bold text-lg tracking-widest uppercase">CaseType Name</p>
                    </div>
                </div>
                <div class="relative mt-12">
                    <h3 class="text-2xl lg:text-3xl font-Baskervville -tracking-wide"><span class="absolute -left-5">“</span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod incididunt ut labore et dolore magna aliqua.”</h3>
                    <p class="mt-3">- First Last</p>
                </div>
            </div>
            <div class="md:max-w-[440px] w-full flex-1">
                <div class="aspect-h-6 aspect-w-9 md:aspect-h-16 md:aspect-w-12">
                    <img src="/assets/images/mockup-1.png" class="object-cover w-full h-full" alt="">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="mt-[175px] lg:mt-[108px] mb-60 space-y-24">
    <div class="container">
        <div class="grid grid-cols-1">
            <div>
                <div class="text-center max-w-3xl mx-auto">
                    <p class="uppercase tracking-widest text-lg md:text-xl font-bold text-blue-500">PROJECT READY TARGETS</p>
                    <h2 class="text-3xl lg:text-4xl font-Baskervville -tracking-wide mt-5">Meet Requirements to Progress from Project Ready to In-Flight</h2>
                </div>
            </div>
            <div class="mt-10">
                <div class="max-w-2xl items-start mx-auto w-full flex flex-col sm:flex-row flex-wrap gap-5">
                    <div class="flex flex-row sm:flex-col flex-1 w-full gap-5">
                        <div class="w-[calc(50%-10px)] sm:w-full flex-1 sm:flex-none">
                            <label class="inline-flex cursor-pointer">
                                <input type="checkbox" class="peer disabled:opacity-30 h-[18px] w-[18px] cursor-pointer mt-1 border border-blue-800 bg-transparent text-blue-800 checked:border-blue-800 !shadow-none !outline-none !ring-0 !ring-offset-0 checked:bg-[length:90%_90%] mr-3">
                                <span class="peer-disabled:opacity-30">Baselines Completed</span>
                            </label>
                        </div>
                        <div class="w-[calc(50%-10px)] sm:w-full flex-1  sm:flex-none">
                            <label class="inline-flex cursor-pointer">
                                <input type="checkbox" class="peer disabled:opacity-30 h-[18px] w-[18px] cursor-pointer mt-1 border border-blue-800 bg-transparent text-blue-800 checked:border-blue-800 !shadow-none !outline-none !ring-0 !ring-offset-0 checked:bg-[length:90%_90%] mr-3">
                                <span class="peer-disabled:opacity-30">Program Design Completed</span>
                            </label>
                        </div>
                        <div class="w-[calc(50%-10px)] sm:w-full flex-1  sm:flex-none">
                            <label class="inline-flex cursor-pointer">
                                <input type="checkbox" class="peer disabled:opacity-30 h-[18px] w-[18px] cursor-pointer mt-1 border border-blue-800 bg-transparent text-blue-800 checked:border-blue-800 !shadow-none !outline-none !ring-0 !ring-offset-0 checked:bg-[length:90%_90%] mr-3">
                                <span class="peer-disabled:opacity-30">Stakeholder Mapping Completed</span>
                            </label>
                        </div>
                        <div class="w-[calc(50%-10px)] sm:w-full flex-1  sm:flex-none">
                            <label class="inline-flex cursor-pointer">
                                <input type="checkbox" class="peer disabled:opacity-30 h-[18px] w-[18px] cursor-pointer mt-1 border border-blue-800 bg-transparent text-blue-800 checked:border-blue-800 !shadow-none !outline-none !ring-0 !ring-offset-0 checked:bg-[length:90%_90%] mr-3">
                                <span class="peer-disabled:opacity-30">Survivor Leadership Engaged</span>
                            </label>
                        </div>
                    </div>
                    <div class="flex-1 w-full border border-blue-800 flex items-center gap-3 py-3 px-2">
                        <div>
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-16">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 0 1 2.25-2.25h13.5A2.25 2.25 0 0 1 21 7.5v11.25m-18 0A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75m-18 0v-7.5A2.25 2.25 0 0 1 5.25 9h13.5A2.25 2.25 0 0 1 21 11.25v7.5m-9-6h.008v.008H12v-.008ZM12 15h.008v.008H12V15Zm0 2.25h.008v.008H12v-.008ZM9.75 15h.008v.008H9.75V15Zm0 2.25h.008v.008H9.75v-.008ZM7.5 15h.008v.008H7.5V15Zm0 2.25h.008v.008H7.5v-.008Zm6.75-4.5h.008v.008h-.008v-.008Zm0 2.25h.008v.008h-.008V15Zm0 2.25h.008v.008h-.008v-.008Zm2.25-4.5h.008v.008H16.5v-.008Zm0 2.25h.008v.008H16.5V15Z" />
                            </svg>
                        </div>
                        <div>
                            <p class="uppercase text-blue-500 font-medium text-sm tracking-widest">Date Estimate</p>
                            <h5 class="text-xl font-Baskervville -tracking-wide">Expected to be Programs Ready in April 2025-March 2026</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="grid grid-cols-1">
            <div>
                <div class="text-center max-w-3xl mx-auto">
                    <h2 class="text-3xl lg:text-4xl font-Baskervville -tracking-wide">Goals for Immediate Rescue, Convictions, Survivor Empowerment</h2>
                    <p class="text-lg mt-4">April 2024-March 2025</p>
                </div>
            </div>
            <div class="mt-10">
                <div class="max-w-2xl items-start mx-auto w-full flex gap-5">
                    <div class="flex-1 w-full text-center">
                        <div class="mx-auto flex justify-center items-center h-28">
                            <svg width="99" height="99" viewBox="0 0 99 99" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M81.3718 80.1985C98.3495 62.6129 97.8284 34.5629 80.2429 17.5853C66.2179 4.08137 45.0718 1.30242 28.0508 10.7248V4.90637C52.6705 -6.94758 82.2403 3.38663 94.0942 28.0064C102.996 46.5472 99.5653 68.6485 85.41 83.5419H97.2205V88.7524H76.2047V67.7366H81.4153V80.1985H81.3718Z" fill="#0A1733" />
                                <path d="M13.5912 15.4576H1.82413V10.2471H22.8399V31.2629H17.6294V18.801C0.651763 36.3865 1.17282 64.4365 18.7583 81.3708C32.7833 94.8747 53.9294 97.6536 70.9504 88.2313V94.0931C46.3307 105.947 16.761 95.6129 4.90703 70.9931C-3.99429 52.4958 -0.564027 30.351 13.5912 15.4576Z" fill="#0A1733" />
                                <path d="M48.3711 72.6868C47.4158 72.2525 24.75 61.3973 24.75 45.592C24.75 36.9512 31.7408 29.9604 40.3816 29.9604C43.6382 29.9604 46.8513 31.0026 49.5 32.9131C56.4908 27.8762 66.2605 29.4828 71.2974 36.4736C73.2079 39.1223 74.25 42.3354 74.25 45.592C74.25 61.3973 51.5842 72.2525 50.6289 72.6868L49.5 73.2078L48.3711 72.6868ZM51.3237 38.167L49.5 39.9473L47.6763 38.167C43.5513 34.1289 36.9513 34.2157 32.9566 38.2973C31.0461 40.2512 29.9605 42.8565 29.9605 45.592C29.9605 51.9315 35.3882 57.5762 39.9908 61.2236C42.9868 63.5683 46.1566 65.6525 49.5434 67.3894C55.8829 64.1328 69.0829 55.3183 69.0829 45.5486C69.0829 39.7736 64.3934 35.1276 58.6618 35.1276C55.9263 35.171 53.2776 36.2131 51.3237 38.167Z" fill="#101523" />
                            </svg>
                        </div>
                        <h2 class="text-3xl lg:text-4xl font-bold mt-4">250</h2>
                        <p class="sm:text-lg mt-3">Rescue Victims</p>
                    </div>
                    <div class="flex-1 w-full text-center">
                        <div class="mx-auto flex justify-center items-center h-28">
                            <svg width="105" height="92" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#a)">
                                    <path d="M39.528 55.15 25.336 18.263a4.872 4.872 0 0 0-2.723-3.068 4.91 4.91 0 0 0-4.11.081 4.853 4.853 0 0 0-2.483 2.79c-.028.078-.05.156-.06.192-2.48 7.112-5.014 12.807-7.466 18.295C5.97 42.202 3.366 48.047.786 55.488c-.992 2.85-1.24 5.127.427 8.315 4.003 7.666 11.092 12.244 18.99 12.244 7.759 0 14.802-4.487 18.824-12.006 1.786-3.32 1.57-5.644.546-8.759a1.129 1.129 0 0 0-.045-.132Zm-5.611 6.66c-3.081 5.456-8.187 8.69-13.733 8.69-5.546 0-10.67-3.24-13.737-8.69h27.47Zm-27.52-5.553c2.387-6.733 4.82-12.19 7.18-17.476 2.296-5.2 4.715-10.57 7.094-17.188l13.315 34.664H6.396ZM104.225 55.282c0-.046-.032-.091-.051-.133L89.991 18.262a4.908 4.908 0 0 0-1.16-1.968 4.933 4.933 0 0 0-1.93-1.233 4.92 4.92 0 0 0-3.74.224 4.891 4.891 0 0 0-2.49 2.79 1.221 1.221 0 0 0-.055.192c-2.48 7.103-5.01 12.774-7.466 18.295-2.525 5.657-5.133 11.503-7.713 18.944-.992 2.85-1.24 5.127.427 8.32 4.004 7.66 11.097 12.239 18.971 12.239 7.76 0 14.808-4.487 18.848-12.006 1.772-3.339 1.556-5.662.542-8.777Zm-33.187.974c2.392-6.737 4.826-12.193 7.181-17.476 2.324-5.2 4.716-10.57 7.094-17.188L98.65 56.256H71.038Zm27.521 5.539c-3.08 5.456-8.186 8.69-13.733 8.69-5.546 0-10.67-3.238-13.737-8.69h27.47Z" fill="#101523" />
                                    <path d="M80.13 86.466H24.885v5.539h55.243v-5.54ZM61.065 6.243a8.934 8.934 0 0 0-3.269-4.525 8.99 8.99 0 0 0-10.634.054 8.933 8.933 0 0 0-3.223 4.558H10.937v5.562h33.108a8.955 8.955 0 0 0 2.194 3.423 9.001 9.001 0 0 0 3.485 2.106v65.363h5.56V17.421a9.006 9.006 0 0 0 3.527-2.15 8.96 8.96 0 0 0 2.19-3.494h33.058V6.243H61.065Zm-5.142 2.69a3.388 3.388 0 0 1-.573 1.89 3.424 3.424 0 0 1-5.25.518 3.394 3.394 0 0 1-.74-3.707A3.402 3.402 0 0 1 50.62 6.11a3.42 3.42 0 0 1 1.897-.571 3.422 3.422 0 0 1 2.4 1c.637.635.995 1.496.998 2.393h.009Z" fill="#0A1733" />
                                </g>
                                <defs>
                                    <clipPath id="a">
                                        <path fill="#fff" d="M0 0h105v92H0z" />
                                    </clipPath>
                                </defs>
                            </svg>
                        </div>
                        <h2 class="text-3xl lg:text-4xl font-bold mt-4">6</h2>
                        <p class="sm:text-lg mt-3">Hold Criminals Accountable</p>
                    </div>
                    <div class="flex-1 w-full text-center">
                        <div class="mx-auto flex justify-center items-center h-28">
                            <svg width="122" height="80" viewBox="0 0 122 80" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_468_12685)">
                                    <path d="M18.9014 50.7901L24.7834 77.4191H38.6619L32.0494 50.7524" stroke="#101523" stroke-width="5" />
                                    <path d="M104.201 30.9549L121.14 27.4673" stroke="#101523" stroke-width="5" />
                                    <path d="M103.976 42.5425L119.976 46.9301" stroke="#101523" stroke-width="5" />
                                    <path d="M100.521 52.4805L111.675 63.6558" stroke="#101523" stroke-width="5" />
                                    <path d="M102.136 20.9045L111.488 7.7417" stroke="#101523" stroke-width="5" />
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M19.7598 49.8926V21.5055H30.9288V49.8926H19.7598Z" stroke="#09091C" stroke-width="5" />
                                    <path d="M18.9011 21.5095C18.9011 21.5095 2.03215 20.8645 2.59072 35.6989C3.14929 50.5333 18.9011 49.8883 18.9011 49.8883" stroke="#09091C" stroke-width="5" />
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M30.9297 21.6401L79.0424 6.02148V67.0968L30.9297 49.9276V21.6401Z" stroke="#09091C" stroke-width="5" />
                                    <path d="M91.0702 2.58057H79.042V72.258H91.0702V2.58057Z" stroke="#09091C" stroke-width="5" />
                                </g>
                                <defs>
                                    <clipPath id="clip0_468_12685">
                                        <rect width="122" height="80" fill="white" />
                                    </clipPath>
                                </defs>
                            </svg>
                        </div>
                        <h2 class="text-3xl lg:text-4xl font-bold mt-4">15</h2>
                        <p class="sm:text-lg mt-3">Survivors Equipped for Advocacy</p>
                    </div>
                </div>
                <div class="max-w-2xl mx-auto w-full mt-24">
                    <div class="space-y-2" x-data="{ current: 1 }">
                        <div class="border-2 border-blue-800">
                            <button type="button" class="p-3 w-full font-medium flex items-center justify-center gap-4" x-on:click="current === 1 ? current = null : current = 1">
                                View Cost Breakdown
                                <div>
                                    <span x-show="current !== 1">
                                        <svg width="20" height="12" viewBox="0 0 20 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M1 0.813965L10 9.81396L18.814 1" stroke="#101523" stroke-width="2" />
                                        </svg>
                                    </span>
                                    <span x-show="current === 1">
                                        <svg :class="{'rotate-180' : current === 1}" width="20" height="12" viewBox="0 0 20 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M1 0.813965L10 9.81396L18.814 1" stroke="#101523" stroke-width="2" />
                                        </svg>
                                    </span>
                                </div>
                            </button>
                            <div x-cloak x-show="current === 1" x-collapse>
                                <div class="px-4 py-[76px] border-t-2 border-blue-800 bg-blue-50/10 flex sm:flex-row flex-col gap-5">
                                    <div class="text-center flex-1 w-full">
                                        <h2 class="text-3xl lg:text-4xl font-bold mt-4">$XXX</h2>
                                        <p class="sm:text-lg mt-3">Cost Per Person Rescued</p>
                                    </div>
                                    <div class="text-center flex-1 w-full">
                                        <h2 class="text-3xl lg:text-4xl font-bold mt-4">$XXX</h2>
                                        <p class="sm:text-lg mt-3">Cost Per Conviction Secured</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="bg-blue-500/[7%]">
    <div class="container">
        <div class="grid grid-cols-1">
            <div class="bg-blue-800 py-20 relative -mt-40 text-white px-9 lg:px-24">
                <div class="text-center">
                    <p class="uppercase tracking-widest text-xl font-bold text-blue-500">Section Header</p>
                    <h2 class="text-3xl lg:text-4xl font-Baskervville -tracking-wide mt-5">Why We Selected Jurisdiction Name</h2>
                </div>
                <div class="flex items-start lg:flex-row flex-col gap-5 lg:gap-12 mt-16">
                    <div class="flex-1 w-full space-y-5">
                        <div>
                            <p class="text-base md:text-lg lg:text-xl font-semibold">Completing Baseline Studies</p>
                            <ul class="list-disc mt-2 space-y-2 ml-4 lg:text-lg text-base">
                                <li>Conduct Baseline Studies to Determine Prevalence of Slavery in Andhra Pradesh and to Measure Confidence, Performance and Reliance of the Justice System.</li>
                            </ul>
                        </div>
                        <div>
                            <p class="text-base md:text-lg lg:text-xl font-semibold">Completing Baseline Studies</p>
                            <ul class="list-disc mt-2 space-y-2 ml-4 lg:text-lg text-base">
                                <li>Conduct Baseline Studies to Determine Prevalence of Slavery in Andhra Pradesh and to Measure Confidence, Performance and Reliance of the Justice System.</li>
                            </ul>
                        </div>
                        <div>
                            <p class="text-base md:text-lg lg:text-xl font-semibold">Completing Baseline Studies</p>
                            <ul class="list-disc mt-2 space-y-2 ml-4 lg:text-lg text-base">
                                <li>Conduct Baseline Studies to Determine Prevalence of Slavery in Andhra Pradesh and to Measure Confidence, Performance and Reliance of the Justice System.</li>
                            </ul>
                        </div>
                    </div>
                    <div class="flex-1 w-full space-y-5">
                        <div>
                            <p class="text-base md:text-lg lg:text-xl font-semibold">Completing Baseline Studies</p>
                            <ul class="list-disc mt-2 space-y-2 ml-4 lg:text-lg text-base">
                                <li>Conduct Baseline Studies to Determine Prevalence of Slavery in Andhra Pradesh and to Measure Confidence, Performance and Reliance of the Justice System.</li>
                                <li>Conduct Baseline Studies to Determine Prevalence of Slavery in Andhra Pradesh and to Measure Confidence, Performance and Reliance of the Justice System.</li>
                            </ul>
                        </div>
                        <div>
                            <p class="text-base md:text-lg lg:text-xl font-semibold">Completing Baseline Studies</p>
                            <ul class="list-disc mt-2 space-y-2 ml-4 lg:text-lg text-base">
                                <li>Conduct Baseline Studies to Determine Prevalence of Slavery in Andhra Pradesh and to Measure Confidence, Performance and Reliance of the Justice System.</li>
                            </ul>
                        </div>
                        <div>
                            <p class="text-base md:text-lg lg:text-xl font-semibold">Completing Baseline Studies</p>
                            <ul class="list-disc mt-2 space-y-2 ml-4 lg:text-lg text-base">
                                <li>Conduct Baseline Studies to Determine Prevalence of Slavery in Andhra Pradesh and to Measure Confidence, Performance and Reliance of the Justice System.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex items-stretch lg:flex-row flex-col-reverse sm:mt-[70px] mt-16 lg:mt-[72px] bg-white">
                <div class="flex-1 w-full flex items-center">
                    <div class="grid grid-cols-1 py-11 lg:py-16 px-10 lg:px-24">
                        <div class="relative select-none">
                            <div class="swiper swiper-progress swiper-slider pb-10" data-moduleeffectfade="1" data-modulenav="1" data-modulepagination="1" data-moduleautoplay="" data-settings='{
                                "loop":true,
                                "grabCursor": true,
                                "autoplay": true,
                                "spaceBetween": 30, 
                                "slidesPerView": "1",
                                "delay": 10000,
                                "speed": 200,
                                "effect": "fade",
                                "navigation":{"nextEl":".swiper-button-next-testitwo","prevEl":".swiper-button-prev-testitwo", "disabledClass": "opacity-50"},
                                "pagination": {"el": ".swiper-pagination-testi","type": "fraction", "clickable": "true", "bulletClass": "!bg-white !h-2.5 !w-2.5 !mx-1 opacity-50 swiper-pagination-bullet", "bulletActiveClass": "!opacity-100"}
                            }'>
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="top-0 absolute left-0 z-20 w-full h-1 bg-primary-500 flex items-center justify-start font-bold -scale-x-100">
                                            <span class="h-full bg-white progressBar"></span>
                                        </div>
                                        <div class="relative">
                                            <p class="text-blue-500 uppercase font-bold">Meet the Team</p>
                                            <h2 class="text-3xl lg:text-4xl font-Baskervville mt-4">Merlin Freeda</h2>
                                            <p class="lg:text-lg mt-4">While many kids would dream of becoming a movie star or an astronaut, Merlin would look at local news anchors on television and dream of becoming one. Yet even when she achieved success as one of the top newsreaders in India, she knew she found happiness but still lacked joy and satisfaction. In her quest to find peace, she found the Lord. This was the turning point in her life.</p>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="top-0 absolute left-0 z-20 w-full h-1 bg-primary-500 flex items-center justify-start font-bold -scale-x-100">
                                            <span class="h-full bg-white progressBar"></span>
                                        </div>
                                        <div class="relative">
                                            <p class="text-blue-500 uppercase font-bold">Meet the Team</p>
                                            <h2 class="text-3xl lg:text-4xl font-Baskervville mt-4">Merlin Freeda</h2>
                                            <p class="lg:text-lg mt-4">While many kids would dream of becoming a movie star or an astronaut, Merlin would look at local news anchors on television and dream of becoming one. Yet even when she achieved success as one of the top newsreaders in India, she knew she found happiness but still lacked joy and satisfaction. In her quest to find peace, she found the Lord. This was the turning point in her life.</p>
                                        </div>
                                    </div>
                                </div>
                                <!-- If we need pagination -->
                            </div>
                            <div class="flex items-center gap-5 w-full">
                                <div class="swiper-pagination-testi font-Baskervville text-4xl -tracking-widest"></div>
                                <div class="flex items-center w-full justify-end gap-6">
                                    <!-- If we need navigation buttons -->
                                    <div class="swiper-button-prev-testitwo">
                                        <div class="hover:text-blue-800 text-blue-800/30 transition-all duration-300 cursor-pointer">
                                            <svg width="45" height="43" viewBox="0 0 45 43" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M2 21.2029L23.2909 0.999998M2 21.2029L45 21.2029M2 21.2029L23.2909 42" stroke="currentColor" stroke-width="2" />
                                            </svg>
                                        </div>
                                    </div>
                                    <div class="swiper-button-next-testitwo">
                                        <div class="hover:text-blue-800 text-blue-800/30 transition-all duration-300 cursor-pointer">
                                            <svg width="45" height="43" viewBox="0 0 45 43" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M43 21.7971L21.7091 42M43 21.7971L3.53239e-06 21.7971M43 21.7971L21.7091 0.999998" stroke="currentColor" stroke-width="2" />
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="lg:max-w-[456px] w-full flex-1 lg:max-h-full max-h-[350px] md:max-h-[420px]">
                    <img src="/assets/images/testi.png" class="object-cover w-full h-full" alt="">
                </div>
            </div>
            <div class="my-16 lg:my-24">
                <div class="max-w-xl mx-auto bg-white border-2 border-blue-800 p-6 lg:p-12 text-center">
                    <div>
                        <p class="uppercase text-blue-500 tracking-widest text-base lg:text-lg">Close CUrrent Jurisdiction</p>
                        <h3 class="text-2xl lg:text-3xl font-Baskervville mt-3.5">Go back to Global Program Tracker</h3>
                        <div class="mt-8">
                            <button class="text-blue-800 hover:text-blue-500 transition-all duration-300">
                                <svg width="39" height="37" viewBox="0 0 39 37" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M2 2L35.4762 35.4762" stroke="currentColor" stroke-width="3" />
                                    <path d="M37.1494 2L3.67323 35.4762" stroke="currentColor" stroke-width="3" />
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}