{% extends "html/_includes/layout" %}
{% set header = "closable" %}
{% block seo %}
<title>Page Link</title>
{% endblock %}

{% block content %}

<section class="relative lg:min-h-[920px] lg:flex lg:items-center">
    <img src="/assets/images/bg-main.png" alt="img" class="object-cover w-full h-full absolute">
    <div class="container relative z-10 pt-[72px] md:pt-[168px] lg:pb-[120px] md:pb-[76px]">
        <div class="flex items-start md:flex-row flex-col gap-9 relative top-24 md:top-0">
            <div class="text-white w-full flex-1">
                <p class="text-blue-500 uppercase tracking-widest">Region: Africa</p>
                <h1 class="text-4xl md:text-7xl font-Baskervville -tracking-wide mt-5">Ghana</h1>
                <div class="mt-12">
                    <p class="text-lg uppercase font-bold tracking-widest"><span class="text-blue-500">Stage:</span> Jurisdiction Identified</p>
                    <p class="text-xs mt-2">Pre-qualified: High poverty, High violence, High plausibility of change</p>
                    <div class="flex w-full mt-4">
                        <div class="h-[18px] relative flex-1 w-full first:after:hidden first:before:hidden after:absolute after:border-r after:border-white/40 after:h-[11px] after:-left-1 after:bg-blue-800 after:w-[9px] after:-rotate-45 after:top-[2px] before:absolute before:border-r before:border-white/40 before:h-3 before:-left-1 before:bg-blue-800 before:w-[9px] before:rotate-45 before:bottom-[2px] hr-progress hr-progress-target">
                            <div class="bg-blue-800 border border-white/40 h-full flex items-center justify-center w-full hr-progress-inner"></div>
                        </div>
                        <div class="h-[18px] relative flex-1 w-full first:after:hidden first:before:hidden after:absolute after:border-r after:border-white/40 after:h-[11px] after:-left-1 after:bg-blue-800 after:w-[9px] after:-rotate-45 after:top-[2px] before:absolute before:border-r before:border-white/40 before:h-3 before:-left-1 before:bg-blue-800 before:w-[9px] before:rotate-45 before:bottom-[2px] hr-progress hr-progress-target">
                            <div class="bg-blue-800 border border-white/40 h-full flex items-center justify-center w-full hr-progress-inner"></div>
                        </div>
                        <div class="h-[18px] relative flex-1 w-full first:after:hidden first:before:hidden after:absolute after:border-r after:border-white/40 after:h-[11px] after:-left-1 after:bg-blue-800 after:w-[9px] after:-rotate-45 after:top-[2px] before:absolute before:border-r before:border-white/40 before:h-3 before:-left-1 before:bg-blue-800 before:w-[9px] before:rotate-45 before:bottom-[2px] hr-progress hr-progress-target active">
                            <div class="bg-blue-800 border border-white/40 h-full flex items-center justify-center w-full hr-progress-inner"></div>
                        </div>
                        <div class="h-[18px] relative flex-1 w-full first:after:hidden first:before:hidden after:absolute after:border-r after:border-white/40 after:h-[11px] after:-left-1 after:bg-blue-800 after:w-[9px] after:-rotate-45 after:top-[2px] before:absolute before:border-r before:border-white/40 before:h-3 before:-left-1 before:bg-blue-800 before:w-[9px] before:rotate-45 before:bottom-[2px] hr-progress hr-progress-target">
                            <div class="bg-blue-800 border border-white/40 h-full flex items-center justify-center w-full hr-progress-inner"></div>
                        </div>
                        <div class="h-[18px] relative flex-1 w-full first:after:hidden first:before:hidden after:absolute after:border-r after:border-white/40 after:h-[11px] after:-left-1 after:bg-blue-800 after:w-[9px] after:-rotate-45 after:top-[2px] before:absolute before:border-r before:border-white/40 before:h-3 before:-left-1 before:bg-blue-800 before:w-[9px] before:rotate-45 before:bottom-[2px] hr-progress hr-progress-target">
                            <div class="bg-blue-800 border border-white/40 h-full flex items-center justify-center w-full hr-progress-inner"></div>
                        </div>
                    </div>
                </div>
                <div class="grid grid-cols-2 gap-y-9 sm:gap-y-10 gap-3 items-end mt-14">
                    <div>
                        <p class="text-blue-500 uppercase font-medium text-sm tracking-widest">Protection Target:</p>
                        <p class="font-bold text-lg tracking-widest uppercase">XX Million</p>
                    </div>
                    <div>
                        <p class="text-blue-500 uppercase font-medium text-sm tracking-widest">CaseType:</p>
                        <p class="font-bold text-lg tracking-widest uppercase">CaseType Name</p>
                    </div>
                </div>
                <div class="relative mt-12">
                    <h3 class="text-2xl lg:text-3xl font-Baskervville -tracking-wide"><span class="absolute -left-5">“</span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod incididunt ut labore et dolore magna aliqua.”</h3>
                    <p class="mt-3">- First Last</p>
                </div>
            </div>
            <div class="md:max-w-[440px] w-full flex-1">
                <div class="aspect-h-6 aspect-w-9 md:aspect-h-16 md:aspect-w-12">
                    <img src="/assets/images/mockup-1.png" class="object-cover w-full h-full" alt="">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="mt-[175px] lg:mt-[108px] mb-60 space-y-24">
    <div class="container">
        <div class="grid grid-cols-1">
            <div>
                <div class="text-center max-w-3xl mx-auto">
                    <p class="uppercase tracking-widest text-lg md:text-xl font-bold text-blue-500">Jurisdiction Identified TARGETS</p>
                    <h2 class="text-3xl lg:text-4xl font-Baskervville -tracking-wide mt-5">Meet Requirements to Progress from Jurisdiction Identified to Teams Deployed</h2>
                </div>
            </div>
            <div class="mt-10">
                <div class="max-w-2xl mx-auto w-full flex flex-wrap gap-5">
                    <div class="w-[calc(50%-10px)]">
                        <label class="inline-flex cursor-pointer">
                            <input type="checkbox" class="peer disabled:opacity-30 h-[18px] w-[18px] cursor-pointer mt-1 border border-blue-800 bg-transparent text-blue-800 checked:border-blue-800 !shadow-none !outline-none !ring-0 !ring-offset-0 checked:bg-[length:90%_90%] mr-3">
                            <span class="peer-disabled:opacity-30">Budget is on-plan </span>
                        </label>
                    </div>
                    <div class="w-[calc(50%-10px)]">
                        <label class="inline-flex cursor-pointer">
                            <input type="checkbox" class="peer disabled:opacity-30 h-[18px] w-[18px] cursor-pointer mt-1 border border-blue-800 bg-transparent text-blue-800 checked:border-blue-800 !shadow-none !outline-none !ring-0 !ring-offset-0 checked:bg-[length:90%_90%] mr-3">
                            <span class="peer-disabled:opacity-30">Stakeholders identified</span>
                        </label>
                    </div>
                    <div class="w-[calc(50%-10px)]">
                        <label class="inline-flex cursor-pointer">
                            <input type="checkbox" class="peer disabled:opacity-30 h-[18px] w-[18px] cursor-pointer mt-1 border border-blue-800 bg-transparent text-blue-800 checked:border-blue-800 !shadow-none !outline-none !ring-0 !ring-offset-0 checked:bg-[length:90%_90%] mr-3">
                            <span class="peer-disabled:opacity-30">Initial staff hired</span>
                        </label>
                    </div>
                    <div class="w-[calc(50%-10px)]">
                        <label class="inline-flex cursor-pointer">
                            <input type="checkbox" class="peer disabled:opacity-30 h-[18px] w-[18px] cursor-pointer mt-1 border border-blue-800 bg-transparent text-blue-800 checked:border-blue-800 !shadow-none !outline-none !ring-0 !ring-offset-0 checked:bg-[length:90%_90%] mr-3">
                            <span class="peer-disabled:opacity-30">Assessment of context completed</span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="bg-blue-500/[7%]">
    <div class="container">
        <div class="grid grid-cols-1">
            <div>
                <div class="bg-blue-800 py-20 relative -mt-40 text-white px-9 lg:px-24">
                    <div class="text-center">
                        <p class="uppercase tracking-widest text-xl font-bold text-blue-500">Section Header</p>
                        <h2 class="text-3xl lg:text-4xl font-Baskervville -tracking-wide mt-5">Why We Selected Jurisdiction Name</h2>
                    </div>
                    <div class="flex items-start lg:flex-row flex-col gap-5 lg:gap-12 mt-16">
                        <div class="flex-1 w-full space-y-5">
                            <div>
                                <p class="text-base md:text-lg lg:text-xl font-semibold">Completing Baseline Studies</p>
                                <ul class="list-disc mt-2 space-y-2 ml-4 lg:text-lg text-base">
                                    <li>Conduct Baseline Studies to Determine Prevalence of Slavery in Andhra Pradesh and to Measure Confidence, Performance and Reliance of the Justice System.</li>
                                </ul>
                            </div>
                            <div>
                                <p class="text-base md:text-lg lg:text-xl font-semibold">Completing Baseline Studies</p>
                                <ul class="list-disc mt-2 space-y-2 ml-4 lg:text-lg text-base">
                                    <li>Conduct Baseline Studies to Determine Prevalence of Slavery in Andhra Pradesh and to Measure Confidence, Performance and Reliance of the Justice System.</li>
                                </ul>
                            </div>
                            <div>
                                <p class="text-base md:text-lg lg:text-xl font-semibold">Completing Baseline Studies</p>
                                <ul class="list-disc mt-2 space-y-2 ml-4 lg:text-lg text-base">
                                    <li>Conduct Baseline Studies to Determine Prevalence of Slavery in Andhra Pradesh and to Measure Confidence, Performance and Reliance of the Justice System.</li>
                                </ul>
                            </div>
                        </div>
                        <div class="flex-1 w-full space-y-5">
                            <div>
                                <p class="text-base md:text-lg lg:text-xl font-semibold">Completing Baseline Studies</p>
                                <ul class="list-disc mt-2 space-y-2 ml-4 lg:text-lg text-base">
                                    <li>Conduct Baseline Studies to Determine Prevalence of Slavery in Andhra Pradesh and to Measure Confidence, Performance and Reliance of the Justice System.</li>
                                    <li>Conduct Baseline Studies to Determine Prevalence of Slavery in Andhra Pradesh and to Measure Confidence, Performance and Reliance of the Justice System.</li>
                                </ul>
                            </div>
                            <div>
                                <p class="text-base md:text-lg lg:text-xl font-semibold">Completing Baseline Studies</p>
                                <ul class="list-disc mt-2 space-y-2 ml-4 lg:text-lg text-base">
                                    <li>Conduct Baseline Studies to Determine Prevalence of Slavery in Andhra Pradesh and to Measure Confidence, Performance and Reliance of the Justice System.</li>
                                </ul>
                            </div>
                            <div>
                                <p class="text-base md:text-lg lg:text-xl font-semibold">Completing Baseline Studies</p>
                                <ul class="list-disc mt-2 space-y-2 ml-4 lg:text-lg text-base">
                                    <li>Conduct Baseline Studies to Determine Prevalence of Slavery in Andhra Pradesh and to Measure Confidence, Performance and Reliance of the Justice System.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex items-stretch lg:flex-row flex-col-reverse my-16 lg:my-24 bg-white">
                    <div class="flex-1 w-full flex items-center">
                        <div class="grid grid-cols-1 py-11 lg:py-16 px-10 lg:px-24">
                            <div class="relative">
                                <div class="swiper productslider">
                                    <div class="swiper-wrapper pb-10">
                                        <div class="swiper-slide">
                                            <div class="top-0 absolute left-0 z-20 w-full h-1 bg-primary-500 flex items-center justify-start font-bold -scale-x-100">
                                                <span class="h-full bg-white progressBar"></span>
                                            </div>
                                            <div class="relative bg-white">
                                                <p class="uppercase tracking-widest text-lg md:text-xl font-bold text-blue-500">Meet the Team</p>
                                                <h2 class="text-3xl lg:text-4xl font-Baskervville mt-4">Merlin Freeda</h2>
                                                <p class="lg:text-lg mt-4">would look at local news anchors on television and dream of becoming one. Yet even when she achieved success as one of the top newsreaders in India, she knew she found happiness but still lacked joy and satisfaction. In her quest to find peace, she found the Lord. This was the turning point in her life.</p>
                                            </div>
                                        </div>
                                        <div class="swiper-slide">
                                            <div class="top-0 absolute left-0 z-20 w-full h-1 bg-primary-500 flex items-center justify-start font-bold -scale-x-100">
                                                <span class="h-full bg-white progressBar"></span>
                                            </div>
                                            <div class="relative bg-white">
                                                <p class="uppercase tracking-widest text-lg md:text-xl font-bold text-blue-500">Meet the Team</p>
                                                <h2 class="text-3xl lg:text-4xl font-Baskervville mt-4">Merlin Freeda</h2>
                                                <p class="lg:text-lg mt-4">While many kids would dream of becoming a movie star or an astronaut, Merlin would look at local news anchors on television and dream of becoming one. Yet even when she achieved success as one of the top newsreaders in India, she knew she found happiness but still lacked joy and satisfaction. In her quest to find peace, she found the Lord. This was the turning point in her life.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="flex items-center gap-5 w-full">
                                        <div class="swiper-pagination-testi font-Baskervville text-4xl -tracking-widest"></div>
                                        <div class="flex items-center w-full justify-end gap-6">
                                            <!-- If we need navigation buttons -->
                                            <div class="swiper-button-prev-product-main">
                                                <div class="hover:text-blue-800 text-blue-800/30 transition-all duration-300 cursor-pointer">
                                                    <svg width="45" height="43" viewBox="0 0 45 43" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M2 21.2029L23.2909 0.999998M2 21.2029L45 21.2029M2 21.2029L23.2909 42" stroke="currentColor" stroke-width="2" />
                                                    </svg>
                                                </div>
                                            </div>
                                            <div class="swiper-button-next-product-main">
                                                <div class="hover:text-blue-800 text-blue-800/30 transition-all duration-300 cursor-pointer">
                                                    <svg width="45" height="43" viewBox="0 0 45 43" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M43 21.7971L21.7091 42M43 21.7971L3.53239e-06 21.7971M43 21.7971L21.7091 0.999998" stroke="currentColor" stroke-width="2" />
                                                    </svg>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="w-full flex-1 lg:max-w-[456px] ">
                        <div class="grid grid-cols-1 h-full">
                            <div class="relative h-full lg:h-full lg:max-h-full max-h-[350px] md:max-h-[420px]">
                                <div class="swiper thumbslider h-full">
                                    <div class="swiper-wrapper flex !items-stretch !h-full">
                                        <div class="swiper-slide h-full">
                                            <div class="h-full relative">
                                                <img src="/assets/images/testi.png" class="w-full h-full object-cover" alt="">
                                                <div>
                                                    <a href="https://www.youtube.com/embed/UBOj6rqRUME" id="UBOj6rqRUME" class="glightbox h-[88px] left-1/2 text-white hover:text-blue-500 hover:border-blue-500 transition-all duration-300 -translate-x-1/2 text-center w-[88px] flex items-center justify-center mx-auto rounded-full border-2 border-white z-10 absolute top-1/2 -translate-y-1/2">
                                                        <svg width="29" height="32" viewBox="0 0 29 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M28.0547 16.2278L0.749604 31.9924L0.749605 0.463205L28.0547 16.2278Z" fill="currentColor"></path>
                                                        </svg>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="swiper-slide h-full">
                                            <div class="h-full relative">
                                                <img src="/assets/images/mockup-1.png" class="w-full h-full object-cover" alt="">
                                                <div>
                                                    <a href="https://www.youtube.com/embed/UBOj6rqRUME" id="UBOj6rqRUME" class="glightbox h-[88px] left-1/2 text-white hover:text-blue-500 hover:border-blue-500 transition-all duration-300 -translate-x-1/2 text-center w-[88px] flex items-center justify-center mx-auto rounded-full border-2 border-white z-10 absolute top-1/2 -translate-y-1/2">
                                                        <svg width="29" height="32" viewBox="0 0 29 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <path d="M28.0547 16.2278L0.749604 31.9924L0.749605 0.463205L28.0547 16.2278Z" fill="currentColor"></path>
                                                        </svg>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="my-16 lg:my-24">
                    <div class="max-w-xl mx-auto bg-white border-2 border-blue-800 p-6 lg:p-12 text-center">
                        <div>
                            <p class="uppercase text-blue-500 tracking-widest text-base lg:text-lg">Close CUrrent Jurisdiction</p>
                            <h3 class="text-2xl lg:text-3xl font-Baskervville mt-3.5">Go back to Global Program Tracker</h3>
                            <div class="mt-8">
                                <button class="text-blue-800 hover:text-blue-500 transition-all duration-300">
                                    <svg width="39" height="37" viewBox="0 0 39 37" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M2 2L35.4762 35.4762" stroke="currentColor" stroke-width="3" />
                                        <path d="M37.1494 2L3.67323 35.4762" stroke="currentColor" stroke-width="3" />
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}