{% extends "html/_includes/layout" %}

{% block seo %}
<title>Typography</title>
{% endblock %}

{% block content %}

<section class="pb-16 pt-32 md:pt-40">
    <div class="container">
        <div class="grid grid-cols-1">
            <div>
                <h3 class="text-4xl font-medium">Heading Style</h3>
            </div>
        </div>
        <div class="grid grid-cols-1 gap-8 mt-12">
            <div class="space-y-4">
                <h1 class="text-4.5xl md:text-6.5xl font-medium md:font-semibold">This Heading H1</h1>
                <h2 class="text-2xl md:text-4.5xl font-medium">This Heading H2</h2>
                <h3 class="text-2xl md:text-4xl font-medium">This Heading H3</h3>
                <h4 class="text-xl md:text-2xl font-medium">This Heading H4</h4>
                <h5 class="text-lg font-medium">This Heading H5</h5>
                <h6 class="text-base font-medium">This Heading H6</h6>
            </div>
        </div>
    </div>
</section>

<section class="py-16">
    <div class="container">
        <div class="grid grid-cols-1">
            <div>
                <h3 class="text-4xl font-medium">Color Style</h3>
            </div>
        </div>
        <div class="grid grid-cols-1 gap-8 mt-12">
            <div>
                <div class="flex items-center gap-2 flex-wrap">
                    <div class="inline-block size-14 rounded-md bg-blue-50"></div>
                    <div class="inline-block size-14 rounded-md bg-blue-100"></div>
                    <div class="inline-block size-14 rounded-md bg-blue-200"></div>
                    <div class="inline-block size-14 rounded-md bg-blue-300"></div>
                    <div class="inline-block size-14 rounded-md bg-blue-400"></div>
                    <div class="inline-block size-14 rounded-md bg-blue-500"></div>
                    <div class="inline-block size-14 rounded-md bg-blue-600"></div>
                    <div class="inline-block size-14 rounded-md bg-blue-700"></div>
                    <div class="inline-block size-14 rounded-md bg-blue-800"></div>
                    <div class="inline-block size-14 rounded-md bg-blue-900"></div>
                    <div class="inline-block size-14 rounded-md bg-blue-950"></div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}