{% import "_/includes/macros" as render %}

<div class="items-center bg-white p-8 lg:p-16 overflow-auto !max-w-[680px] w-full !h-full">
    <div class="text-center">
        <p class="uppercase tracking-widest font-bold text-black">
            {{ 'Teams Deployed TARGETS'|t }}
        </p>
        <h2 class="text-3xl lg:text-4xl font-Baskervville -tracking-wide mt-2.5">
            {{ 'Sign in to explore the Global Program Tracker'|t }}
        </h2>
    </div>

    {% set formSettings = {
        action: 'users/login',
        id: "login-menu-form",
        class: 'space-y-7 mt-10',
        redirect: '{url}',
        xFormAjax: true,
        loader: true,
        xFormAjaxOptions: {
            enableGlobalSuccess: true,
            enableGlobalErrors: true,
            globalSuccessHeading: "Login Successfully!",
            successBehaviour: "redirect",
            resetForm: true
        },
        attrs: {
            enctype: 'multipart/form-data',
            'accept-charset':'UTF-8',
        },
        fields: [
            {
                colClass: 'w-full',
                label: 'Email Address',
                name: 'loginName',
                value: craft.app.user.rememberedUsername,
                type: 'text',
                required: true,
                file: 'text',
                hideLabel: true,
                placeholder: 'Email Address',
                autocomplete: 'loginName'
            },
            {
                colClass: 'w-full',
                label: 'Password',
                name: 'password',
                type: 'password',
                required: true,
                file: 'text',
                hideLabel: true,
                placeholder: 'Enter Password',
                autocomplete: 'current-password',
            },
            {
                colClass: 'w-full',
                label: 'Remember Me',
                name: 'remember-me',
                value: 1,
                type: 'checkbox',
                file: 'checkbox',

            }
        ],
        buttons: [
            {
                label: 'Sign In',
                type: 'submit',
                col: 'end',
                class: 'bg-blue-800 tracking-widest block w-full font-bold text-base text-center hover:cursor-pointer hover:bg-turkey-900 transition-all duration-300 uppercase text-white py-5 px-6'
            }
        ]
    } %}
    {{ render.form(formSettings) }}
    {% if errorMessage is defined %}
        <p class="pt-3 text-red-500 text-sm">{{ errorMessage }}</p>
    {% endif %}
    {# <form class="space-y-7 mt-10">
        <div>
            <input type="text" class="form-input text-sm h-14 px-3 bg-transparent border-2 w-full placeholder:text-blue-800/30 font-bold tracking-widest uppercase focus:ring-transparent focus:border-blue-500" placeholder="Email Address">
        </div>
        <div>
            <input type="password" class="form-input text-sm h-14 px-3 bg-transparent border-2 w-full placeholder:text-blue-800/30 font-bold tracking-widest uppercase focus:ring-transparent focus:border-blue-500" placeholder="Enter Password">
        </div>
        <div class="flex items-center gap-3 justify-between">
            <div>
                <label class="inline-flex items-center gap-2">
                    <input type="checkbox" class="h-5 w-5 cursor-pointer border border-blue-800 bg-transparent text-blue-800 checked:border-blue-800 !shadow-none !outline-none !ring-0 !ring-offset-0 checked:bg-[length:90%_90%] mr-1.5">
                    <span>Remember me</span>
                </label>
            </div>
            <div>
                <a href="#" class="underline underline-offset-4 hover:text-blue-500 transition-all duration-300">Forgot password?</a>
            </div>
        </div>
        <div>
            <button type="submit" class="bg-blue-800 tracking-widest block w-full font-bold text-base text-center hover:cursor-pointer hover:bg-turkey-900 transition-all duration-300 uppercase text-white py-5 px-6">Sign In</button>
        </div>
    </form> #}
</div>