{{ craft.app.config.general.devMode ? ('<!-- Template: ' ~ _self ~ ' -->') | raw }}
{% import "_/includes/macros" as render %}

<div class="flex items-stretch lg:flex-row flex-col-reverse bg-white">
    <div class="flex-1 w-full flex items-center">
        <div class="grid grid-cols-1 py-11 lg:py-16 px-10 lg:px-24">
            <div class="relative">
                <div class="swiper productslider">
                    <div class="swiper-wrapper pb-10">
                        <div class="swiper-slide">
                            <div class="top-0 absolute left-0 z-20 w-full h-1 bg-primary-500 flex items-center justify-start font-bold -scale-x-100">
                                <span class="h-full bg-white progressBar"></span>
                            </div>
                            <div class="relative bg-white">
                                <p class="uppercase tracking-widest text-lg md:text-xl font-bold text-blue-500">Meet the Team</p>
                                <h2 class="text-3xl lg:text-4xl font-Baskervville mt-4">Merlin Freeda</h2>
                                <p class="lg:text-lg mt-4">would look at local news anchors on television and dream of becoming one. Yet even when she achieved success as one of the top newsreaders in India, she knew she found happiness but still lacked joy and satisfaction. In her quest to find peace, she found the Lord. This was the turning point in her life.</p>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="top-0 absolute left-0 z-20 w-full h-1 bg-primary-500 flex items-center justify-start font-bold -scale-x-100">
                                <span class="h-full bg-white progressBar"></span>
                            </div>
                            <div class="relative bg-white">
                                <p class="uppercase tracking-widest text-lg md:text-xl font-bold text-blue-500">Meet the Team</p>
                                <h2 class="text-3xl lg:text-4xl font-Baskervville mt-4">Merlin Freeda</h2>
                                <p class="lg:text-lg mt-4">While many kids would dream of becoming a movie star or an astronaut, Merlin would look at local news anchors on television and dream of becoming one. Yet even when she achieved success as one of the top newsreaders in India, she knew she found happiness but still lacked joy and satisfaction. In her quest to find peace, she found the Lord. This was the turning point in her life.</p>
                            </div>
                        </div>
                    </div>
                    <div class="flex items-center gap-5 w-full">
                        <div class="swiper-pagination-testi font-Baskervville text-4xl -tracking-widest"></div>
                        <div class="flex items-center w-full justify-end gap-6">
                            <!-- If we need navigation buttons -->
                            <div class="swiper-button-prev-product-main">
                                <div class="hover:text-blue-800 text-blue-800/30 transition-all duration-300 cursor-pointer">
                                    <svg width="45" height="43" viewBox="0 0 45 43" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M2 21.2029L23.2909 0.999998M2 21.2029L45 21.2029M2 21.2029L23.2909 42" stroke="currentColor" stroke-width="2" />
                                    </svg>
                                </div>
                            </div>
                            <div class="swiper-button-next-product-main">
                                <div class="hover:text-blue-800 text-blue-800/30 transition-all duration-300 cursor-pointer">
                                    <svg width="45" height="43" viewBox="0 0 45 43" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M43 21.7971L21.7091 42M43 21.7971L3.53239e-06 21.7971M43 21.7971L21.7091 0.999998" stroke="currentColor" stroke-width="2" />
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="w-full flex-1 lg:max-w-[456px] ">
        <div class="grid grid-cols-1 h-full">
            <div class="relative h-full lg:h-full lg:max-h-full max-h-[350px] md:max-h-[420px]">
                <div class="swiper thumbslider h-full">
                    <div class="swiper-wrapper flex !items-stretch !h-full">
                        <div class="swiper-slide h-full">
                            <div class="h-full relative">
                                <img src="/assets/images/testi.png" class="w-full h-full object-cover" alt="">
                                <div>
                                    <a href="https://www.youtube.com/embed/UBOj6rqRUME" id="UBOj6rqRUME" class="glightbox h-[88px] left-1/2 text-white hover:text-blue-500 hover:border-blue-500 transition-all duration-300 -translate-x-1/2 text-center w-[88px] flex items-center justify-center mx-auto rounded-full border-2 border-white z-10 absolute top-1/2 -translate-y-1/2">
                                        <svg width="29" height="32" viewBox="0 0 29 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M28.0547 16.2278L0.749604 31.9924L0.749605 0.463205L28.0547 16.2278Z" fill="currentColor"></path>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide h-full">
                            <div class="h-full relative">
                                <img src="/assets/images/mockup-1.png" class="w-full h-full object-cover" alt="">
                                <div>
                                    <a href="https://www.youtube.com/embed/UBOj6rqRUME" id="UBOj6rqRUME" class="glightbox h-[88px] left-1/2 text-white hover:text-blue-500 hover:border-blue-500 transition-all duration-300 -translate-x-1/2 text-center w-[88px] flex items-center justify-center mx-auto rounded-full border-2 border-white z-10 absolute top-1/2 -translate-y-1/2">
                                        <svg width="29" height="32" viewBox="0 0 29 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M28.0547 16.2278L0.749604 31.9924L0.749605 0.463205L28.0547 16.2278Z" fill="currentColor"></path>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% do view.registerCssFile ("#{mix('css/swiper.css')}") %}
{% do view.registerJsFile("#{mix('js/swiper.js')}") %}
