{% extends '_/layouts/main' %}
{% import "_/includes/macros" as render %}

{% block content %}
<section class="pb-16 pt-32 md:pt-40">
    <div class="container">
        <div class="text-center items-center cv-form bg-white p-6 overflow-auto w-full !h-full">
            <h3 class="text-3xl lg:text-4xl font-Baskervville -tracking-wide mt-2.5">
                {{ 'Reset Password'|t }}
            </h3>
            <div class="max-w-2xl mx-auto">
                {% set formSettings = {
                    action: 'users/send-password-reset-email',
                    id: "reset-password",
                    class: 'space-y-7 mt-10',
                    redirect: '/dashboard/login',
                    xFormAjax: true,
                    loader: true,
                    xFormAjaxOptions: {
                        enableGlobalSuccess: true,
                        enableGlobalErrors: true,
                        globalSuccessHeading: "Email Sent Successfully!",
                        successBehaviour: "redirect",
                        resetForm: true
                    },
                    attrs: {
                        enctype: 'multipart/form-data',
                        'accept-charset':'UTF-8',
                    },
                    fields: [
                        {
                            colClass: 'w-full',
                            label: 'Email Address',
                            name: 'loginName',
                            value: loginName ?? craft.app.user.rememberedUsername,
                            type: 'email',
                            required: true,
                            file: 'text',
                            hideLabel: true,
                            placeholder: 'Email Address',
                            autocomplete: 'username',
                        }
                    ],
                    buttons: [
                        {
                            label: 'Reset Password',
                            type: 'submit',
                            col: 'end',
                            class: 'bg-blue-800 tracking-widest block w-full font-bold text-base text-center hover:cursor-pointer transition-all duration-300 uppercase text-white py-5 px-6'
                        }
                    ]
                } %}
                {{ render.form(formSettings) }}
            </div>
        </div>
    </div>
</section>
{% endblock %}