.mapboxgl-popup-content {
    padding: 0 !important;
}

.mapboxgl-popup-close-button {
    background-color: transparent !important;
    color: white !important;
    font-size: 22px !important;
    right: 5px !important;

    &:hover {
        @apply scale-105 opacity-80 transform transition-all duration-150;
    }
}

.mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
    border-right-color: #101523 !important;
}
.mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
    border-left-color: #101523 !important;
}
.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip, .mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip, .mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip {
    border-top-color: #101523 !important;
}
.mapboxgl-popup-anchor-top .mapboxgl-popup-tip, .mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip, .mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip {
    border-bottom-color: #101523 !important;
}
