<section class="mt-[175px] lg:mt-[108px] mb-60 space-y-24">
    <div class="container">
        <div class="grid grid-cols-1">
            <div>
                <div class="text-center max-w-3xl mx-auto">
                    <p class="uppercase tracking-widest text-lg md:text-xl font-bold text-blue-500">Jurisdiction Identified TARGETS</p>
                    <h2 class="text-3xl lg:text-4xl font-Baskervville -tracking-wide mt-5">Meet Requirements to Progress from Jurisdiction Identified to Teams Deployed</h2>
                </div>
            </div>
            <div class="mt-10">
                <div class="max-w-2xl mx-auto w-full flex flex-wrap gap-5">
                    <div class="w-[calc(50%-10px)]">
                        <label class="inline-flex cursor-pointer">
                            <input type="checkbox" class="peer disabled:opacity-30 h-[18px] w-[18px] cursor-pointer mt-1 border border-blue-800 bg-transparent text-blue-800 checked:border-blue-800 !shadow-none !outline-none !ring-0 !ring-offset-0 checked:bg-[length:90%_90%] mr-3">
                            <span class="peer-disabled:opacity-30">Budget is on-plan </span>
                        </label>
                    </div>
                    <div class="w-[calc(50%-10px)]">
                        <label class="inline-flex cursor-pointer">
                            <input type="checkbox" class="peer disabled:opacity-30 h-[18px] w-[18px] cursor-pointer mt-1 border border-blue-800 bg-transparent text-blue-800 checked:border-blue-800 !shadow-none !outline-none !ring-0 !ring-offset-0 checked:bg-[length:90%_90%] mr-3">
                            <span class="peer-disabled:opacity-30">Stakeholders identified</span>
                        </label>
                    </div>
                    <div class="w-[calc(50%-10px)]">
                        <label class="inline-flex cursor-pointer">
                            <input type="checkbox" class="peer disabled:opacity-30 h-[18px] w-[18px] cursor-pointer mt-1 border border-blue-800 bg-transparent text-blue-800 checked:border-blue-800 !shadow-none !outline-none !ring-0 !ring-offset-0 checked:bg-[length:90%_90%] mr-3">
                            <span class="peer-disabled:opacity-30">Initial staff hired</span>
                        </label>
                    </div>
                    <div class="w-[calc(50%-10px)]">
                        <label class="inline-flex cursor-pointer">
                            <input type="checkbox" class="peer disabled:opacity-30 h-[18px] w-[18px] cursor-pointer mt-1 border border-blue-800 bg-transparent text-blue-800 checked:border-blue-800 !shadow-none !outline-none !ring-0 !ring-offset-0 checked:bg-[length:90%_90%] mr-3">
                            <span class="peer-disabled:opacity-30">Assessment of context completed</span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>