{{ craft.app.config.general.devMode ? ('<!-- Template: ' ~ _self ~ ' -->') | raw }}
{% import "_/includes/macros" as render %}

<section class="relative">
    <img src="/assets/images/footer-bg.jpg" class="object-cover w-full h-full absolute inset-0" alt="">
    <div class="bg-blue-800/60 inset-0 w-full h-full absolute"></div>
    <div class="container relative z-10 lg:py-28 py-16">
        <div class="grid grid-cols-1">
            <div>
                <div class="max-w-4xl mx-auto text-center text-white">
                    <p class="uppercase tracking-widest text-lg md:text-xl font-bold">Model Contextualization</p>
                    <h2 class="text-4xl/tight lg:text-5xl/tight font-Baskervville -tracking-wide mt-6">Quick lorem ipsum about problem but also offering hope. IJM has a proven solution to make lasting change possible.</h2>
                    <div class="flex gap-5 flex-wrap items-center w-full justify-center mt-10">
                        <a href="#" class="py-3.5 px-6 md:w-auto w-full text-white inline-block uppercase font-bold bg-blue-800 tracking-widest border-2 border-blue-800 hover:bg-blue-950 hover:border-blue-950 transition-all duration-300">Track our Progress</a>
                        <a href="#" class="py-3.5 px-6 md:w-auto w-full hover:text-blue-800 inline-block hover:bg-white transition-all duration-300 uppercase font-bold bg-transparent tracking-widest border-2 border-white box-border">Connect with IJM</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>