@import 'swiper/swiper-bundle.min.css';

.swiper-pagination.swiper-pagination-inside .swiper-pagination-bullet {
	border-width: 1px;
	height: 12px;
	width: 12px;
	background-color: white;
	opacity: 1;
}

.swiper-pagination.swiper-pagination-inside .swiper-pagination-bullet.swiper-pagination-bullet-active {
	border-width: 2px;
	border-color: white;
	background-color: gray;
}

.swiper-pagination.swiper-pagination-inside.option2 {
	bottom: 3rem !important;
}

.swiper-pagination.swiper-pagination-outside {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.swiper-pagination.swiper-pagination-outside .swiper-pagination-bullet {
	border-width: 1.5px;
	border-color: #2C302E;
	height: 15px;
	width: 15px;
	background-color: transparent;
	opacity: 1;
	position: relative;
}

.swiper-pagination.swiper-pagination-outside .swiper-pagination-bullet.swiper-pagination-bullet-active {
	width: 26px;
	height: 26px;
	border: solid 1px #474a48;
	background-color: #fff8f0;
}

.swiper-pagination.swiper-pagination-outside .swiper-pagination-bullet.swiper-pagination-bullet-active::before {
	content: "";
	display: block;
	width: 15px;
	height: 15px;
	background-color: #474a48;
	border-radius: 50%;
	margin: 50%;
	transform: translate(-51%, -51%);
}

@media (max-width: 640px) {
	.swiper-pagination.swiper-pagination-outside {
		position: relative;
		margin-top: 10px;
		bottom: auto !important;
	}
}

.spaceLeftSlider {
	padding-left: calc(50vw - 700px);
}

.position-static {
	position: static;
}

.slider-height {
	height: auto;
}

.swiper-pagination-bottom {
	bottom: 2rem !important;
}